<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: [
                                          { text: t("dashboard.index.title"), href: dashboard_path },
                                          { text: t("patients.index.title"), href: patients_path },
                                        ]) %>
<% end %>

<%= render "patients/header" %>

<%= render AppPatientSecondaryNavigationComponent.new(patient: @patient, current_user: current_user) %>

<h3 class="nhsuk-card__heading">
      No vaccination record
    </h3>
