<p>
  Use this service to give or refuse consent for your child to have a flu vaccination.
</p>

<p>This vaccination is recommended for school age children every year.</p>

<h2 class="nhsuk-heading-m">
  About the children’s flu vaccine
</h2>

<p>
  The children’s flu vaccine helps protect children against flu. Vaccinating
  children also protects others who are vulnerable to flu, such as babies and
  older people.
</p>

<p>The vaccine is given as a nasal spray. This gives the most effective protection.</p>

<p>Some children can have an injection instead, for example if they:</p>

<ul class="nhsuk-list nhsuk-list--bullet">
  <li>have had a serious allergic reaction to a previous dose of the nasal spray vaccine</li>
  <li>have a severe egg allergy</li>
  <li>have asthma that’s being treated with long-term steroid tablets</li>
</ul>

<p>
  <%= link_to "Find out more about the children’s flu vaccine",
              "https://www.nhs.uk/vaccinations/child-flu-vaccine/" %>
</p>
