<p>
  The HPV vaccine helps to prevent HPV related cancers from developing in boys
  and girls.
</p>

<p>
  The number of doses you need depends on your age and how well your immune
  system works. Young people usually only need 1 dose.
</p>

<p>
  <%= link_to "Find out more about the HPV vaccine",
              "https://www.nhs.uk/conditions/vaccinations/hpv-human-papillomavirus-vaccine/" %>
</p>
