<h2 class="nhsuk-heading-m">
  MenACWY
</h2>

<p>
  The MenACWY vaccine helps protect against meningitis and sepsis. It is
  recommended for all teenagers. Most people only need one dose of the vaccine.
</p>

<p>
  <%= link_to "Find out more about the MenACWY vaccine",
              "https://www.nhs.uk/vaccinations/menacwy-vaccine/" %>
</p>
