<p>
  The MMRV vaccine protects against measles, mumps, rubella and chickenpox 
  (varicella). Having 2 doses gives lasting protection against all 4 illnesses. 
</p>

<p>MMRV has replaced the MMR vaccine, which protects against measles, mumps and rubella.</p>

<p>
  If your child has already had 2 doses of the MMR vaccine, they are fully vaccinated and 
  do not need another dose. Let us know by completing the online form.
</p>

<p>
  If your child has not had 2 doses of MMR, they will need an MMRV catch-up vaccination. 
  If you’re not sure how many doses your child has had, having further doses will not cause 
  any harm.
</p>

<p>Research has shown there is no link between the MMRV vaccine and autism.</p>

<p>
  <%= link_to "Find out more about the MMRV vaccine",
              "https://www.nhs.uk/vaccinations/mmrv-vaccine/" %>
</p>
