<p>
  The MMR vaccine protects against measles, mumps and rubella. Having 2 doses
  gives lasting protection against all 3 illnesses. If you’re not sure how
  many doses your child has had, having further doses will not cause any harm.
  If you’re confident your child has had 2 doses, please confirm this using
  the consent request form.
</p>

<p>Research has shown there is no link between the MMR vaccine and autism.</p>

<p>
  <%= link_to "Find out more about the MMR vaccine",
              "https://www.nhs.uk/vaccinations/mmr-vaccine/" %>
</p>
