<p>
  The MMRV vaccine protects against measles, mumps, rubella and chickenpox (varicella). 
  MMRV has replaced the MMR vaccine. 
</p>

<p>
  If your child has already had 2 doses of the MMR vaccine, they are fully vaccinated and 
  do not need another dose. Let us know by completing the online form.
</p>

<p>
  If your child has not had 2 doses of MMR, they will need an MMRV catch-up vaccination. 
  If you’re not sure how many doses your child has had, having further doses will not cause 
  any harm.
</p>

<p>
  Large international studies over the past 20 years have shown there is no link between 
  the MMRV vaccine and autism.
</p>

<p>
  <%= link_to "Find out more about the MMRV vaccine",
              "https://www.nhs.uk/vaccinations/mmrv-vaccine/" %>
</p>
