<h2 class="nhsuk-heading-m">
  Td/IPV (3-in-1 teenage booster)
</h2>

<p>
  The Td/IPV vaccine (also called the 3-in-1 teenage booster) helps protect
  against tetanus, diphtheria and polio.
</p>

<p>
  It boosts the protection provided by the
  <%= link_to "6-in-1 vaccine", "https://www.nhs.uk/vaccinations/6-in-1-vaccine/" %> and
  <%= link_to "4-in-1 pre-school booster vaccine", "https://www.nhs.uk/vaccinations/4-in-1-preschool-booster-vaccine/" %>.
</p>

<p>
  <%= link_to "Find out more about the Td/IPV vaccine",
              "https://www.nhs.uk/vaccinations/td-ipv-vaccine-3-in-1-teenage-booster/" %>
</p>
