<%= h1 "#{@service_name} (Mavis)", size: "xl" %>

<ul class="nhsuk-grid-row nhsuk-card-group">
  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    <%= render AppCardComponent.new(heading: "Campaigns", link_to: sessions_path) do %>
      Create and manage vaccination campaigns.
    <% end %>
  </li>

  <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    <%= render AppCardComponent.new(heading: "Vaccines", link_to: vaccines_path) do %>
      Add or remove batches.
    <% end %>
  </li>
</ul>

<h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">
  <%= link_to "Add a new session", sessions_path, class: "nhsuk-link--no-visited-state" %>
</h2>
<p>Create a new session or clinic for a campaign.</p>
