<%
state = @patient_session.state
status = status_text_for_state(state)

if status.in? ["Triage", "Triage started"]
%>
<%= render AppBannerComponent.new(
  title: banner_title_for_state(state, {
    who_responded: @consent_response&.who_responded&.downcase,
  }),
  colour: status_colour_for_state(state),
) do %>
  <ul class="nhsuk-list nhsuk-u-margin-bottom-2">
      <% @consent_response.reasons_triage_needed.map do |reason| %>
        <li><%= reason %></li>
      <% end %>
  </ul>
<% end
elsif status.in? ["Vaccinated", "Unable to vaccinate"]
  explanation = if @consent_response.present?
                  banner_explanation_for_state(state, {
                    who_responded: @consent_response&.who_responded&.downcase,
                    full_name: @triage.patient.full_name
                  })
                else
                  ""
                end
%>
<%=
  render AppBannerComponent.new(
    title: banner_title_for_state(state, {
      who_responded: @consent_response&.who_responded&.downcase,
    }),
    colour: status_colour_for_state(state),
    explanation:,
  ) %>
<% elsif status != "Vaccinate" %>
<%= render AppBannerComponent.new(
  title: banner_title_for_state(state, {
    who_responded: @consent_response&.who_responded&.downcase,
  }),
  colour: status_colour_for_state(state),
  explanation: banner_explanation_for_state(state, {
    who_responded: @consent_response&.who_responded&.downcase,
    full_name: @triage.patient.full_name
  }),
) %>
<% end %>
