<tr class="nhsuk-table__row">
  <td class="nhsuk-table__cell" id="<%= dom_id patient_session.patient %>">
    <%= link_to patient_session.patient.full_name,
                session_patient_vaccinations_path(patient_session.session, patient_session.patient),
      "data-testid": "child-link" %>
  </td>
  <td class="nhsuk-table__cell" style="width: 150px">
    <%= patient_session.patient.date_of_birth.to_fs(:nhsuk_date_short_month) %>
  </td>
  <td class="nhsuk-table__cell" data-testid="child-action">
    <%= govuk_tag(
      classes: "nhsuk-u-font-size-16 nhsuk-u-width-full",
      text: status_text_for_state(patient_session.state),
      colour: status_colour_for_state(patient_session.state)
    ) %>
  </td>
</tr>
