<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds ">
        <div class="govuk-panel govuk-panel--confirmation nhsuk-u-margin-bottom-6 app-u-frutiger">
            <h1 class="govuk-panel__title">
                Record saved
            </h1>
            <div class="govuk-panel__body">
            </div>
        </div>

        <h2 class="nhsuk-u-heading-m">Continue</h2>
        <p>
            <%= link_to "Record another vaccination", campaign_vaccinations_path(@campaign) %>
        </p>
    </div>
</div>
