<% if flash[:success].present? %>
  <%= render AppFlashSuccessComponent.new(flash[:success]) %>
<% end %>

<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: [
    { text: 'Home', href: dashboard_path },
    { text: 'School sessions', href: sessions_path },
    { text: @session.name, href: session_path(@session) },
  ]) %>
<% end %>

<h1>Record vaccinations</h1>

<%=
govuk_tabs title: "Vax", classes: 'nhsuk-tabs' do |c|
  c.with_tab(label: "Action needed", classes: 'nhsuk-tabs__panel') do
    render "patients", filter: ->(a, o) { in_tab_action_needed?(a, o) }
  end
  c.with_tab(label: "Vaccinated", classes: 'nhsuk-tabs__panel') do
    render "patients", filter: ->(a, o) { in_tab_vaccinated?(a, o) }
  end
  c.with_tab(label: "Not vaccinated", classes: 'nhsuk-tabs__panel') do
    render "patients", filter: ->(a, o) { in_tab_not_vaccinated?(a, o) }
  end
end
%>
