<% if flash[:success].present? %>
  <%= render AppFlashSuccessComponent.new(flash[:success]) %>
<% end %>

<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: [
    { text: 'Home', href: dashboard_path },
    { text: 'School sessions', href: sessions_path },
    { text: @session.name, href: session_path(@session) },
  ]) %>
<% end %>

<h1>Record vaccinations</h1>

<%=
govuk_tabs title: "Vaccinations", classes: 'nhsuk-tabs' do |c|
  c.with_tab(label: "Action needed", classes: 'nhsuk-tabs__panel') do
    render "patients_with_actions",
           id: "action-needed",
           view_states: %w[consent_given_triage_needed triaged_kept_in_triage triaged_ready_to_vaccinate added_to_session consent_refused consent_given_triage_not_needed]
  end
  c.with_tab(label: "Vaccinated", classes: 'nhsuk-tabs__panel') do
    render "patients_with_outcomes", id: "vaccinated", view_states: %w[vaccinated]
  end
  c.with_tab(label: "Not vaccinated", classes: 'nhsuk-tabs__panel') do
    render "patients_with_outcomes",
           id: "not-vaccinated",
           view_states: %w[triaged_do_not_vaccinate unable_to_vaccinate]
  end
end
%>
