<%= h1 @session.location.name, class: "nhsuk-u-margin-bottom-2" %>

<% unless tallying_enabled? %>
  <p class="nhsuk-caption-l nhsuk-u-margin-bottom-4">
    <%= @session.programmes.map(&:name).to_sentence %>
    (<%= format_academic_year(@session.academic_year) %>)
  </p>
<% end %>

<%= render AppSecondaryNavigationComponent.new do |nav|
      nav.with_item(
        href: session_path(@session),
        text: t("sessions.tabs.overview"),
        selected: request.path == session_path(@session),
      )
    
      nav.with_item(
        href: session_patients_path(@session),
        text: t("sessions.tabs.patients"),
        selected: request.path == session_patients_path(@session),
      )
    
      nav.with_item(
        href: session_consent_path(@session),
        text: t("sessions.tabs.consent"),
        selected: request.path == session_consent_path(@session),
      )
    
      nav.with_item(
        href: session_triage_path(@session),
        text: t("sessions.tabs.triage"),
        selected: request.path == session_triage_path(@session),
      )
    
      if @session.psd_enabled?
        nav.with_item(
          href: session_patient_specific_directions_path(@session),
          text: t("sessions.tabs.patient_specific_directions"),
          selected: request.path == session_patient_specific_directions_path(@session),
        )
      end
    
      if @session.requires_registration?
        nav.with_item(
          href: session_register_path(@session),
          text: t("sessions.tabs.register"),
          selected: request.path == session_register_path(@session),
        )
      end
    
      nav.with_item(
        href: session_record_path(@session),
        text: t("sessions.tabs.record"),
        selected: request.path == session_record_path(@session),
      )
    end %>
