<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <%= session.date.strftime("%d %b %Y") %>
  </td>
  <td class="govuk-table__cell">
    <%= session.date.strftime("%l%P") %>
  </td>
  <td class="govuk-table__cell" id="<%= dom_id session %>">
    <%= link_to session.name, session_path(session), "data-testid": "session-link" %>
  </td>
  <td class="govuk-table__cell"></td>
</tr>
