<% content_for :page_title, "#{t("sessions.index.title")} – Completed" %>

<%= h1 t("sessions.index.title"), size: "xl" %>

<%= render AppSecondaryNavigationComponent.new do |nav|
      nav.with_item(href: sessions_path, text: "Active")
      nav.with_item(href: planned_sessions_path, text: "Planned")
      nav.with_item(href: completed_sessions_path, text: "Completed", selected: true)
    end %>

<% if @sessions.empty? %>
  <p>There are no sessions completed.</p>
<% else %>
  <%= render AppSessionTableComponent.new(@sessions, description: "completed session", show_programmes: true) %>
<% end %>
