<% if flash[:success].present? %>
  <%= render AppFlashSuccessComponent.new(flash[:success]) %>
<% end %>

<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: [
    { text: 'Home', href: dashboard_path },
  ]) %>
<% end %>

<h1>School sessions</h1>

<% @sessions_by_type.each do |campaign_type, sessions| %>
  <h2><%= campaign_type %></h2>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">Date</th>
        <th class="govuk-table__header">Time</th>
        <th class="govuk-table__header" style="width: 50%">School</th>
        <th class="govuk-table__header" style="width: 25%"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% sessions.each do |session| %>
        <%= render "session_row", session: %>
      <% end %>
    </tbody>
  </table>
<% end %>
