<div class="app-heading-group">
  <%= h1 t(".title"), size: "xl" %>
  <%= govuk_button_to("Add a new session", sessions_path, secondary: true) %>
</div>

<% if @sessions.empty? %>
  <p>There are no sessions scheduled for today.</p>
<% else %>
  <%= render AppSessionTableComponent.new(@sessions, description: "active session", show_programmes: true) %>
<% end %>
