<h1 class="nhsuk-heading-l">
  <%= @campaign.title %>
  <span class="nhsuk-caption-l nhsuk-u-margin-top-2"><%= @campaign.date %></span>
</h1>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">
          <%= link_to "Record vaccinations", campaign_vaccinations_path(@campaign), "data-testid": "record" %>
        </h2>
        <p>Record vaccinations for children.</p>
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-column-one-third">
    <div id="save-offline">
      <h2 class="nhsuk-heading-s">Save offline</h2>
      <p>Record vaccinations while not connected to the internet.</p>

      <a href="<%= setup_offline_session_path %>"
         class="nhsuk-button nhsuk-u-margin-bottom-3"
         data-testid="save-offline">
         Save offline
      </a>
    </div>
  </div>
</div>
