*.enc
*.ico
*.key
*.lock
*.log
*.png
*.slim
*.svg
*.txt
*.woff*
.bundle
.gitattributes
.gitignore
.keep
.prettierignore
.rladr
.rspec
.ruby-version
.tool-versions
coverage
Dockerfile
LICENCE
Procfile
Procfile.*
app/assets/builds
bin/dev
data
db/*.sqlite3
db/schema.rb
log
playwright-report
public/*.js
public/assets
storage
tmp
vendor
.yarn
terraform/.terraform
*.tfstate
*.tfstate.backup
scratchpad

# Unsurprisingly perhaps, Ruby's JSON produces json that isn't pretty-enough for
# Prettier. This breaks tests that compares prettified json files with json
# produced by Ruby's JSON.
spec/fixtures/*.json