<tr class="govuk-table__row">
    <td class="govuk-table__cell" id="<%= dom_id child %>">
        <%= child.full_name %>
    </td>
    <td class="govuk-table__cell" style="width: 150px">
        <%= child.dob.strftime("%d %b %Y") %>
    </td>
    <td class="govuk-table__cell">
        Approved
    </td>
    <td class="govuk-table__cell">
        <strong class="nhsuk-tag nhsuk-tag--grey">
            Not yet
        </strong>
    </td>
</tr>
