<% entries.each_with_index do |triage, index| %>
  <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">
    Triaged decision: <%= triage.human_enum_name(:status) %>
  </h3>

  <% if (notes = triage.notes).present? %>
    <blockquote><p><%= notes %></p></blockquote>
  <% end %>

  <p class="nhsuk-u-secondary-text-color nhsuk-u-font-size-16">
    <%= triage.created_at.to_fs(:long) %>
    &middot;
    <%= triage.user.full_name %>
  </p>

  <% if index < entries.size - 1 %>
    <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-section-break--m">
  <% end %>
<% end %>
