<div class="nhsuk-table__panel-with-heading-tab">
  <h3 class="nhsuk-table__heading-tab">
    <%= pluralize(deceased_patients.count, "notice") %>
  </h3>

  <%= govuk_table(html_attributes: {
                    class: "nhsuk-table-responsive",
                  }) do |table| %>
    <% table.with_head do |head| %>
      <% head.with_row do |row| %>
        <% row.with_cell(text: "Child") %>
        <% row.with_cell(text: "Notice") %>
      <% end %>
    <% end %>

    <% table.with_body do |body| %>
      <% deceased_patients.each do |deceased_patient| %>
        <% body.with_row do |row| %>
          <% row.with_cell do %>
            <span class="nhsuk-table-responsive__heading">Child</span>
            <%= link_to deceased_patient.full_name, patient_path(deceased_patient) %>
          <% end %>
          <% row.with_cell do %>
            <span class="nhsuk-table-responsive__heading">Notice</span>
            Record updated with child’s date of death
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
