<div class="nhsuk-card">
  <div class="nhsuk-card__content">
    <h2 class="nhsuk-card__heading nhsuk-heading-m">
      Gillick competence
    </h2>

    <%= govuk_summary_list classes: "app-summary-list--no-bottom-border" do |summary_list|
          summary_list.with_row do |row|
            row.with_key { "Assessment" }
            row.with_value do
              safe_join([
                "Assessed by #{@assessment.assessor.full_name}",
                (@assessment.recorded_at || @assessment.created_at).to_fs(:nhsuk_date),
              ], tag.br)
            end
          end
        
          if @assessment.gillick_competent?
            summary_list.with_row do |row|
              row.with_key { "Gillick competent" }
              row.with_value { "Yes" }
            end
        
            summary_list.with_row do |row|
              row.with_key { "Consent" }
              row.with_value { "Given by child" }
            end
          else
            summary_list.with_row do |row|
              row.with_key { "Gillick competent" }
              row.with_value { "No" }
            end
          end
        end %>
  </div>
</div>
