<% entries.each_with_index do |entry, index| %>
  <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">
    <%= entry[:invalidated] ? tag.s(entry[:title]) : entry[:title] %>
  </h3>

  <% if (notes = entry[:notes]).present? %>
    <blockquote><p>
      <%= entry[:invalidated] ? tag.s(notes) : notes %>
    </p></blockquote>
  <% end %>

  <p class="nhsuk-u-secondary-text-color nhsuk-u-font-size-16">
    <% if entry[:invalidated] %><s><% end %>
      <%= entry[:time].to_fs(:long) %>
      &middot;
      <%= entry[:by] %>
    <% if entry[:invalidated] %></s><% end %>
  </p>

  <% if index < entries.size - 1 %>
    <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-section-break--m">
  <% end %>
<% end %>
