<% if sessions.present? %>
  <%= govuk_table(html_attributes: {
                    class: "nhsuk-table-responsive",
                  }) do |table| %>
    <% table.with_head do |head| %>
      <% head.with_row do |row| %>
        <% row.with_cell(text: "Location") %>
      <% end %>
    <% end %>

    <% table.with_body do |body| %>
      <% sessions.each do |session| %>
        <% body.with_row do |row| %>
          <% row.with_cell do %>
            <span class="nhsuk-table-responsive__heading">Location</span>
            <%= link_to session.location.name, session_path(session) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <p class="nhsuk-body">No sessions</p>
<% end %>
