<%= govuk_tag(text: status_text, colour: status_color) %>
<% if @import.pending_import? %>
  <% if @break_tag %><br /><% end %>
  <span class="nhsuk-u-secondary-text-color nhsuk-u-font-size-16">
    <%= @import.remaining_time %>
  </span>
<% end %>
