<div class="nhsuk-grid-column-full">
  <% programmes.each do |programme| %>
    <section>
      <h3 class="nhsuk-heading-m nhsuk-u-margin-bottom-2">
        <%= programme.name %>
      </h3>
      <p class="nhsuk-caption-m nhsuk-u-reading-width nhsuk-u-margin-bottom-4">
        Children due a vaccination this year who have not been vaccinated at another location
      </p>
      <ul class="nhsuk-grid-row nhsuk-card-group">
        <% tally_cards_for_programme(programme).each do |card_data| %>
          <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
            <%= render AppCardComponent.new(compact: true,
                                            colour: card_data[:colour],
                                            link_to: card_data[:link_to]) do |card| %>
              <% card.with_heading(size: "xs") { card_data[:heading] } %>
              <% card.with_data { card_data[:count].to_s } %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </section>
  <% end %>
  <section>
    <h3 class="nhsuk-heading-m nhsuk-u-margin-bottom-4">Consent</h3>
    <% if session.dates.present? %>
      <p class="nhsuk-body">Consent period <%= session_consent_period(session).downcase_first %></p>
    <% end %>

    <ul class="nhsuk-grid-row nhsuk-card-group">
      <% consent_cards.each do |card_data| %>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <%= render AppCardComponent.new(compact: true, link_to: card_data[:link_to]) do |card|
                card.with_heading(size: "xs") { card_data[:heading] }
                card.with_data { card_data[:count].to_s }
              end %>
        </li>
      <% end %>
    </ul>
  </section>
</div>
