<div class="app-consent-banner app-consent-banner--<%= colour %> nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-6">
  <span class="nhsuk-heading-m nhsuk-u-margin-bottom-0">
    <%= title %>
  </span>
  <% if explanation.present? %>
    <p class="nhsuk-u-margin-top-2">
      <%= explanation %>
    </p>
  <% end %>
  <%= content %>
  <!-- <p class="nhsuk-u-margin-bottom-1">
    <a href="#" class="app-u-inherit">Change outcome</a>
  </p> -->
</div>
