<% health_questions.each do |health_question| %>
  <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">
    <%= health_question["question"] %>
  </h3>
  <p><%= health_question["response"] %></p>
<% end %>
