<% if state.in? %[consent_given_triage_needed triaged_kept_in_triage] %>
  <%= render AppBannerComponent.new(title:, colour:) do %>
    <ul class="nhsuk-list nhsuk-u-margin-bottom-2">
      <% consent_response.reasons_triage_needed.map do |reason| %>
        <li><%= reason %></li>
      <% end %>
    </ul>
  <% end %>
<% else %>
  <%= render AppBannerComponent.new(title:, colour:, explanation:) %>
<% end %>
