<nav class="nhsuk-breadcrumb aria-label="Breadcrumb"
     <%= @attributes.map { |name, value| "#{name}=\"#{value}\"" }.join(" ") %>>
  <ol class="nhsuk-breadcrumb__list">
    <% @items.each do |item| %>
      <li class="nhsuk-breadcrumb__list-item">
        <%= item[:href].nil? ?
              item[:text] :
              link_to(item[:text], item[:href],
                      class: "nhsuk-breadcrumb__link",
                      attributes: item[:attributes]) %></li>
    <% end %>
  </ol>
  <%= govuk_back_link(href: linkable_items.last[:href]) do %>
    <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
    <%= linkable_items.last[:text] %>
  <% end %>
</nav>
