<div class="nhsuk-grid-row nhsuk-card-group">
  <div class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    <%= render AppCardComponent.new(link_to: programme_patients_path(programme, academic_year), colour: "blue") do |card| %>
      <% card.with_heading(size: "xs") { "Children" } %>
      <% card.with_data { patients_count.to_s } %>
    <% end %>
  </div>

  <div class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    <%= render AppCardComponent.new(colour: "green") do |card| %>
      <% card.with_heading(size: "xs") { "Vaccinations" } %>
      <% card.with_data { vaccinations_count.to_s } %>
    <% end %>
  </div>

  <div class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    <%= render AppCardComponent.new do |card| %>
      <% card.with_heading(size: "xs") { "Consent requests and reminders sent" } %>
      <% card.with_data { consent_notifications_count.to_s } %>
    <% end %>
  </div>
</div>
