<%= render AppCardComponent.new(colour:) do |c| %>
  <% c.with_heading { heading } %>
  <p><%= I18n.t("patient_session_statuses.#{status}.banner_explanation",
                default: "", full_name:, nurse:, who_refused:) %></p>
  <% if status.in?(%w[delay_vaccination
                      triaged_ready_to_vaccinate
                      triaged_do_not_vaccinate]) && helpers.policy(Triage).edit? %>
    <p>
      <%= link_to "Update triage outcome", new_session_patient_programme_triages_path(session, patient, programme) %>
    </p>
  <% end %>
<% end %>
