@use "../../vendor/nhsuk-frontend" as *;

// Patient session and record
.app-grid-column-patient-session {
  @include nhsuk-grid-column(three-quarters, $float: right, $at: large-desktop);
}

.app-grid-column-patient-record {
  @include nhsuk-grid-column(one-quarter, $float: right, $at: large-desktop);
}

// Search filters and results
.app-grid-column-filters {
  @include nhsuk-grid-column(filters, $at: large-desktop);
}

.app-grid-column-results {
  @include nhsuk-grid-column(results, $at: large-desktop);
}

.app-grid-column-filters .nhsuk-card--feature.app-filters,
.app-grid-column-results > .nhsuk-card--feature,
.app-grid-column-results > .nhsuk-warning-callout {
  margin-top: nhsuk-spacing(3);
}

// Sticky column
.app-grid-column--sticky {
  @include nhsuk-media-query($from: desktop) {
    position: sticky;
    top: 0;
  }
}

.app-grid-column--sticky-below-secondary-navigation {
  @include nhsuk-media-query($from: desktop) {
    position: sticky;
    top: #{nhsuk-spacing(9) + nhsuk-spacing(3)};
  }
}
