@use "../../vendor/nhsuk-frontend" as *;

// Sticky columns
[class^="app-grid-column"],
[class^="nhsuk-grid-column"] {
  &[data-app-sticky-init] {
    @include nhsuk-media-query($from: desktop) {
      position: sticky;
      top: 0;
    }
  }
}

// Patient session and record
.app-grid-column-patient-session {
  @include nhsuk-grid-column(three-quarters, $float: right, $at: large-desktop);
}

.app-grid-column-patient-record {
  @include nhsuk-grid-column(one-quarter, $float: right, $at: large-desktop);

  &[data-app-sticky-init] {
    @include nhsuk-media-query($from: desktop) {
      top: #{nhsuk-spacing(9) + nhsuk-spacing(3)};
    }
  }
}

// Search filters and results
.app-grid-column-filters {
  @include nhsuk-grid-column(one-third, $at: large-desktop);
}

.app-grid-column-results {
  @include nhsuk-grid-column(two-thirds, $at: large-desktop);
}

.app-grid-column-filters .nhsuk-card--feature.app-filters,
.app-grid-column-results > .nhsuk-card--feature,
.app-grid-column-results > .nhsuk-warning-callout {
  margin-top: nhsuk-spacing(3);
}
