<%= h1 "Manage pilot" %>

<h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">
  <%= link_to "Find out how to create a pilot cohort", manual_pilot_path %>
</h2>

<p>Get instructions on how to create a pilot cohort</p>

<h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">
  <%= link_to "Upload the cohort list", new_pilot_cohort_path %>
</h2>

<p>Upload a list of children to vaccinate in the pilot</p>
