<% triage = @triage&.persisted? ? @triage : nil %>
<% action = PatientActionOrOutcomeService.call(consent: @consent_response,
                                               triage: triage,
                                               vaccination_record: nil)[:action] %>
<% if action == :triage %>
  <%= render AppBannerComponent.new(
      title: "Triage needed",
      colour: "blue",
  ) do %>
    <ul class="nhsuk-list nhsuk-u-margin-bottom-2">
      <% @consent_response.reasons_triage_needed.map do |reason| %>
        <li><%= reason %></li>
      <% end %>
    </ul>
  <% end %>
<% elsif action == :follow_up %>
  <%= render AppBannerComponent.new(
      title: "Triage follow-up needed",
      colour: "aqua-green",
  ) do %>
    <ul class="nhsuk-list nhsuk-u-margin-bottom-2">
      <% @consent_response.reasons_triage_needed.map do |reason| %>
        <li><%= reason %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
