<tr class="nhsuk-table__row">
  <td class="nhsuk-table__cell">
    <%= link_to patient_session.patient.full_name,
                session_patient_triage_path(patient_session.session, patient_session.patient),
                "data-testid": "child-link" %>
  </td>
  <td class="nhsuk-table__cell">
    <% if middle_column == :triage_reasons %>
      <ul class="nhsuk-list nhsuk-u-margin-bottom-2">
        <%# HACK: Triage needs to be updated to work with multiple consents. %>
        <% patient_session.consents.first
            .reasons_triage_needed.map do |reason| %>
          <li><%= reason %></li>
        <% end %>
      </ul>
    <%
    else
    %>
      <%= patient_session.patient.dob.to_fs(:nhsuk_date_short_month) %>
    <% end %>

  </td>
  <td class="nhsuk-table__cell" data-testid="child-action">
    <%=
    render(AppActionTagComponent.new(
      status: status_text_for_state(patient_session.state),
      colour: status_colour_for_state(patient_session.state)
    ))
    %>
  </td>
</tr>
