<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <%= link_to patient.full_name, session_vaccination_path(@session, patient), "data-testid": "child-link" %>
  </td>
  <td class="govuk-table__cell">

  </td>
  <td class="govuk-table__cell">
    <%= render(AppStatusTagComponent.new(status: triage.status )) %>
  </td>
</tr>
