<div class="nhsuk-card">
  <div class="nhsuk-card__content">
    <h2 class="nhsuk-card__heading nhsuk-heading-m">
      Triage
    </h2>

    <%= form_for triage,
                 url: session_patient_triage_path(
                   session, patient, triage
                 ) do |f| %>

      <% content_for(:before_content) { f.govuk_error_summary } %>

      <%= f.govuk_text_area :notes, label: { text: "Triage notes (optional)" },
                                    rows: 5 %>
      <%= f.govuk_collection_radio_buttons :status,
                                           triage_form_status_options,
                                           :first,
                                           :second,
                                           legend: { text: "Triage status" } %>

      <%= f.submit "Save triage", class: "nhsuk-button" %>
    <% end %>
  </div>
</div>
