<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <% if patient_sessions.any? %>
      <table id="patients" class="nhsuk-table app-table--patients">
        <thead class="nhsuk-table__head">
          <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header">Name</th>
            <th class="nhsuk-table__header">Triage reason</th>
            <th class="nhsuk-table__header">Action</th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <% patient_sessions.each do |patient_session| %>
            <%= render "patient_row", middle_column: :triage_reasons, patient_session: %>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <%= render AppEmptyListComponent.new(message: "We couldn’t find any children that matched your filters.") %>
    <% end %>
  </div>
</div>
