<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <%= link_to patient.full_name, session_triage_path(@session, patient), "data-testid": "child-link" %>
  </td>
  <td class="govuk-table__cell">
    <%= "Notes from nurse" if triage&.notes.present? %>
  </td>
  <td class="govuk-table__cell">
    <%= triage_status = PatientTriageStatusService.call(consent: consent_response, triage:)
        render(AppStatusTagComponent.new(status: t(triage_status) { triage_status.to_s.humanize },
                                         colour: triage_status_colour(triage_status:),
                                         icon: triage_status_icon(triage_status:))) %>
  </td>
</tr>
