<tr class="nhsuk-table__row">
  <td class="nhsuk-table__cell">
    <%= link_to patient_session.patient.full_name,
                session_patient_triage_path(patient_session.session, patient_session.patient),
                "data-testid": "child-link" %>
  </td>
  <td class="nhsuk-table__cell">
    <%= patient_session.patient.dob.to_fs(:nhsuk_date_short_month) %>
  </td>
</tr>
