<% if flash[:success].present? %>
  <%= render AppFlashSuccessComponent.new(flash[:success]) %>
<% end %>

<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: [
    { text: 'Home', href: dashboard_path },
    { text: 'School sessions', href: sessions_path },
    { text: @session.name, href: session_path(@session) },
  ]) %>
<% end %>

<h1>Triage</h1>

<%=
govuk_tabs title: "Patient triage", classes: 'nhsuk-tabs' do |c|
  c.with_tab(label: "Needs triage", classes: 'nhsuk-tabs__panel') do
    render "patients_with_triage_reasons", view_states: %w[consent_given_triage_needed triaged_kept_in_triage]
  end
  c.with_tab(label: "Triage complete", classes: 'nhsuk-tabs__panel') do
    render "patients_with_triage_reasons",
           view_states: %w[triaged_ready_to_vaccinate triaged_do_not_vaccinate]
  end
  c.with_tab(label: "Get consent", classes: 'nhsuk-tabs__panel') do
    render "patients_with_dob", view_states: %w[added_to_session]
  end
  c.with_tab(label: "No triage needed", classes: 'nhsuk-tabs__panel') do
    render "patients_with_dob",
           view_states: %w[consent_refused consent_given_triage_not_needed vaccinated unable_to_vaccinate]
  end
end
%>
