<% if flash[:success].present? %>
  <%= render AppFlashSuccessComponent.new(flash[:success]) %>
<% end %>

<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: [
    { text: 'Home', href: dashboard_path },
    { text: 'School sessions', href: sessions_path },
    { text: @session.name, href: session_path(@session) },
  ]) %>
<% end %>

<h1>Triage</h1>

<% if @patient_details.any? %>
  <table id="patients" class="nhsuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">Name</th>
        <th class="govuk-table__header">Date of birth</th>
        <th class="govuk-table__header">Action needed</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @patient_details.each do |patient, action_or_outcome| %>
        <%= render "patient_row", patient:, action_or_outcome: %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <%= render "layouts/empty_list", message: "We couldn’t find any children in this session." %>
<% end %>
