<% if flash[:success].present? %>
  <%= govuk_notification_banner(title_text: "Success", success: true) do |nb| %>
    <% if flash[:success].is_a?(Hash) %>
      <% nb.with_heading(text: flash[:success][:title]) %>
      <p><%= flash[:success][:body] %></p>
    <% else %>
      <% nb.with_heading(text: flash[:success]) %>
    <% end %>
  <% end %>
<% end %>

<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: [
    { text: 'Home', href: dashboard_path },
    { text: 'School sessions', href: sessions_path },
    { text: @session.name, href: session_path(@session) },
  ]) %>
<% end %>

<h1>Triage</h1>

<table id="patients" class="nhsuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Name</th>
      <th class="govuk-table__header">Notes</th>
      <th class="govuk-table__header">Triage status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @patient_triages.each do |patient, triage, consent_response| %>
      <%= render "patient_row", patient:, triage:, consent_response: %>
    <% end %>
  </tbody>
</table>
