<% page_title = "The deadline for registering your interest in the NHS school vaccinations pilot has passed" %>

<%= h1 page_title, size: "xl" %>

<p>
  If you have not already responded to messages from your child’s school about
  the HPV vaccination, please do so. The routine vaccination campaign is running
  in parallel with the pilot.
</p>

<p>
  If you’re interested in taking part in future research with the NHS, please
  email <%= govuk_mail_to t("service.nhs_ur_email") %>.
</p>
