<% page_title = "The deadline for registering your interest in the NHS school vaccinations pilot has passed" %>

<%= h1 page_title, size: "xl" %>

<p>
  If you have not already responded to messages from your child’s school about
  the HPV vaccination, please do so. The routine vaccination campaign is running
  in parallel with the pilot.
</p>

