<% page_title = "Thank you for registering your interest in the NHS school vaccinations pilot" %>

<%= h1 page_title:, size: "xl" do %>
  <span class="nhsuk-caption-xl"><%= @school.name %></span>
  <%= page_title %>
<% end %>

<p class="nhsuk-body-m">
  We’ll review your details to check you’re eligible for the pilot. We’ll be in
  touch again soon to let you know if you can take part.
</p>
