<% page_title = "Register your interest in the NHS school vaccinations pilot" %>

<%= h1 page_title:, class: "nhsuk-heading-xl" do %>
  <span class="nhsuk-caption-xl"><%= @school.name %></span>
  <%= page_title %>
<% end %>
