<%= render "imports/header" %>

<%= render AppImportsNavigationComponent.new(active: :notices, team: current_team) %>

<% if @notices.present? %>
  <%= render AppNoticesTableComponent.new(@notices) %>
<% else %>
  <p class="nhsuk-body"><%= t(".no_results") %></p>
<% end %>
