<% content_for :page_title, "Register your interest in the NHS school vaccinations pilot - Manage vaccinations in schools - NHS.UK" %>

<h1 class="nhsuk-heading-xl">
  <span class="nhsuk-caption-xl"><%= @school.name %></span>
  Register your interest in the NHS school vaccinations pilot
</h1>
