<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
               href: session_patient_triage_path(@session, @patient),
               name: "triage page",
             ) %>
<% end %>

<h1 class="nhsuk-heading-l">Health questions</h1>

<%= govuk_button_to "Continue",
  session_patient_consent_responses_path(@session, @patient),
  method: :put %>
