<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-heading-xl">It works! 🎉</h1>

    <p>
      Your application is ready - so long as this page rendered without any errors you're good to go.
    </p>

    <div class="app-u-frutiger">
      <%= govuk_summary_list(
        rows: [
          { key: { text: "Rails version" }, value: { text:  Rails.version } },
          { key: { text: "Ruby version" }, value: { text:  RUBY_VERSION } },
          { key: {
            text: "GOV.UK Frontend" },
            value: {
              text: JSON
                .parse(File.read(Rails.root.join("package.json")))
                .dig("dependencies", "govuk-frontend")
                .tr("^", "")
            }
          }
        ]
      ) %>
    </div>
  </div>
</div>
