<%= h1 "#{@service_name} (Mavis)", size: "xl" %>

<p>Use this service to:</p>

<ul class="nhsuk-list nhsuk-list--bullet">
  <li>upload cohort lists</li>
  <li>manage vaccination sessions</li>
  <li>triage answers to health questions</li>
  <li>record vaccinations</li>
  <li>view and download performance reports</li>
</ul>

<% if Settings.cis2.enabled %>
  <%= govuk_button_to "Log in with my Care Identity",
                      user_cis2_omniauth_authorize_path,
                      class: "nhsuk-button--login nhsuk-u-margin-bottom-4",
                      role: "link" %>

  <p class="nhsuk-body">
    <a class="nhsuk-link" href="https://manage-care-identities.care-identity-service2.nhs.uk/#/self-service/unlock-authenticator">
      I need to unlock my smartcard
    </a>
  </p>
<% else %>
  <%= govuk_button_link_to "Start now", new_user_session_path %>
<% end %>
