<%= h1 "#{@service_name} (Mavis)", size: "xl" %>

<p>Use this service to:</p>

<ul class="nhsuk-list nhsuk-list--bullet">
  <li>upload cohort lists</li>
  <li>manage vaccination sessions</li>
  <li>triage answers to health questions</li>
  <li>record vaccinations</li>
  <li>view and download performance reports</li>
</ul>

<%= govuk_button_link_to "Start now", dashboard_path %>
