<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <%= h1 "#{@service_name} (Mavis)", size: "xl" %>

    <p>Use this service to:</p>

    <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-bottom-6">
      <li>triage consent requests</li>
      <li>approve children for vaccination</li>
      <li>keep a record of vaccinations given to children</li>
    </ul>

    <%= govuk_button_link_to "Start now", dashboard_path, data: {
      testid: "start",
    } %>
  </div>
</div>
