<%= h1 "You are not authorised to access the page" %>

<p class="nhsuk-body">
  You do not have the right CIS2 role to access this page.
</p>
<p class="nhsuk-body">
  If you think you should have access, please email us at
  <a class="nhsuk-link" href="mailto:<%= t("service.email") %>">
  <%= t("service.email") %></a>.
</p>