<%= h1 "You’re not in the right workgroup to use this service" %>

<h2 class="nhsuk-heading-m">Contact your registration authority</h2>

<p>
  You need to belong to ‘<em>schoolagedimmunisations</em>’ to use Mavis. If you think you should be in this workgroup, ask your registration authority to add you.
</p>

<% if @cis2_info[:has_other_roles] %>
  <%= govuk_button_to "Change role", user_cis2_omniauth_authorize_path, params: { change_role: true } %>
<% end %>
