<%= h1 "You are not a part of the correct workgroup to use this service" %>

<h2 class="nhsuk-heading-m">Contact your registration authority</h2>

<p>
  Ask for your Care Identity to be added to the workgroup "schoolagedimmunisations".
</p>

<% if @cis2_info[:has_other_roles] %>
  <%= govuk_button_to "Change role", user_cis2_omniauth_authorize_path, params: { change_role: true } %>
<% end %>
