default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS", 5).to_i + ENV.fetch("SIDEKIQ_CONCURRENCY", 4).to_i %>

development:
  <<: *default
  database: manage_vaccinations_development
test:
  <<: *default
  database: manage_vaccinations_test<%= ENV['TEST_ENV_NUMBER'] %>
staging:
  <<: *default
  database: manage_vaccinations_staging
  sslmode: verify-full
  sslrootcert: config/aws-eu-west-2-root-ca.crt
production:
  <<: *default
  database: manage_vaccinations_production
  sslmode: verify-full
  sslrootcert: config/aws-eu-west-2-root-ca.crt # This certificate is valid until 2061
