default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS", 5).to_i + ENV.fetch("SIDEKIQ_CONCURRENCY", 4).to_i %>

development:
  <<: *default
  database: manage_vaccinations_development
  host: <%= ENV.fetch("DATABASE_HOST", "") %>
  username: <%= ENV.fetch("DATABASE_USER", "") %>
  password: <%= ENV.fetch("DATABASE_PASSWORD", "") %>
test:
  <<: *default
  database: manage_vaccinations_test<%= ENV['TEST_ENV_NUMBER'] %>
  # Needed by CI server
  host: <%= ENV.fetch("DATABASE_HOST", "localhost") %>
  username: <%= ENV.fetch("DATABASE_USER", "") %>
  password: <%= ENV.fetch("DATABASE_PASSWORD", "") %>
staging:
  <<: *default
  database: manage_vaccinations_staging
  sslmode: verify-full
  sslrootcert: config/aws-eu-west-2-root-ca.crt
production:
  <<: *default
  database: manage_vaccinations_production
  sslmode: verify-full
  sslrootcert: config/aws-eu-west-2-root-ca.crt # This certificate is valid until 2061
