# Default settings that are prodlike. Overrides should go in to the
# environment specific settings files.

allow_dev_phone_numbers: false
disallow_database_seeding: true
web_concurrency: 2

# Preparation normally starts on the 1st August.
academic_year_number_of_preparation_days: 31
academic_year_today_override: null

# NHS Care Identity Service OIDC integration configuration, used by Omniauth via
# Devise.
cis2:
  acr_value: AAL2_OR_AAL3_ANY
  client_id: <%= Rails.application.credentials.cis2&.client_id %>
  enabled: true
  issuer: "https://am.nhsidentity.spineservices.nhs.uk:443/openam/oauth2/realms/root/realms/NHSIdentity/realms/Healthcare"
  min_authentication_assurance_level: 2
  private_key: |
<%= Rails.application.credentials.cis2&.private_key&.gsub(/^/, "    ") %>
  secret: <%= Rails.application.credentials.cis2&.secret %>

govuk_notify:
  enabled: true
  mode: live
  test_key: <%= Rails.application.credentials.govuk_notify&.test_key %>
  team_key: <%= Rails.application.credentials.govuk_notify&.team_key %>
  live_key: <%= Rails.application.credentials.govuk_notify&.live_key %>
  callback_bearer_token: <%= Rails.application.credentials.govuk_notify&.callback_bearer_token %>
  rate_limit_per_second: 45

nhs_api:
  api_key: <%= Rails.application.credentials.nhs_api&.api_key %>
  base_url: "https://api.service.nhs.uk"
  disable_authentication: false
  jwt_private_key: |
<%= Rails.application.credentials.nhs_api&.jwt_private_key&.gsub(/^/, "    ") %>

pds:
  enqueue_bulk_updates: true
  raise_unknown_gp_practice: true
  rate_limit_per_second: 50

splunk:
  enabled: true
  hec_endpoint: https://firehose.inputs.splunk.aws.digital.nhs.uk/services/collector/event
  hec_token: <%= Rails.application.credentials.splunk&.hec_token %>

reporting_api:
  client_app:
    token_ttl_seconds: 600
    root_url: http://manage-vaccinations-in-schools.nhs.uk/reporting/
    client_id: <%= Rails.application.credentials.reporting_api&.client_id %>
    secret: <%= Rails.application.credentials.reporting_api&.secret %>

# Set a value to override the default values set in config/initializers/devise.rb
devise:
  timeout_in_seconds:
