<%= h1 t(".title"), size: "xl" %>

<div class="nhsuk-grid-row">
  <div class="app-grid-column-filters">
    <%= render AppPatientSearchFormComponent.new(
          @form,
          url: patients_path,
          heading_level: 2,
          programmes: policy_scope(Programme),
          consent_statuses: %w[no_response given refused conflicts],
          triage_statuses: %w[required delay_vaccination do_not_vaccinate safe_to_vaccinate],
          vaccination_statuses: Patient::VaccinationStatus.statuses.keys,
          year_groups: current_team.year_groups,
          show_aged_out_of_programmes: true,
        ) %>
  </div>

  <div class="app-grid-column-results">
    <%= render AppSearchResultsComponent.new(@pagy, label: "children") do %>
      <% @patients.each do |patient| %>
        <%= render AppPatientSearchResultCardComponent.new(
              patient,
              link_to: patient_path(patient),
              programmes: @form.programmes,
              show_nhs_number: true,
              show_school: true,
              show_triage_status: @form.triage_status.present?,
            ) %>
      <% end %>
    <% end %>
  </div>
</div>
