<%= h1 "Log out", size: "xl" %>

<p class="nhsuk-body">
  You are about to log out of the service. This will end your current session.
</p>

<%= govuk_button_to "Log out", logout_path, method: :delete %>
