<%= h1 "Error: page not available", size: "xl" %>

<p class="nhsuk-body">
  You do not have a draft page open, or it has timed out.
</p>

<p class="nhsuk-body">
  <%= link_to "Go to the Mavis dashboard", dashboard_path %>
</p>
