<%= h1 "Error: page not available", size: "xl" %>

<p class="nhsuk-body">
  You do not have a vaccination record open, or it has timed out.
</p>

<p class="nhsuk-body">
  To see a vaccination record, you can search for it in Mavis in either:
</p>

<ul>
  <li> the Sessions area (through the relevant session)</li>
  <li> the Children area</li>
</ul>

<p class="nhsuk-body">
  You will need to know the child’s name.
</p>

<p class="nhsuk-body">
  <% link_to "Go to the Mavis dashboard", dashboard_path %>
</p>
