<%= h1 "Page not found" %>

<p class="nhsuk-body">
  If you entered a web address, check it is correct.
</p>
<p class="nhsuk-body">
  If you pasted the web address, check you copied the entire address.
</p>
<p class="nhsuk-body">
  If the web address is correct and you need to speak to someone about this
  problem, contact <a class="nhsuk-link" href="mailto:<%= t("service.email") %>">
  <%= t("service.email") %></a>.
</p>
