<%= content_for :page_title, 'Sorry, there’s a problem with the service' %>

<h1 class="nhsuk-heading-l">Sorry, there’s a problem with the service</h1>

<p class="nhsuk-body">Try again later.</p>

<p class="nhsuk-body">
  If you continue to see this error contact the <%= t('service.name') %>
  team: <a class="nhsuk-link" href="mailto:<%= t('service.email') %>">
  <%= t('service.email') %></a>.
</p>
