<%= h1 "Sorry, there’s a problem with the service", size: "xl" %>

<p class="nhsuk-body">Try again later.</p>

<p class="nhsuk-body">
  If you continue to see this error contact the <%= @service_name %>
  team: <a class="nhsuk-link" href="mailto:<%= t("service.email") %>">
  <%= t("service.email") %></a>.
</p>
