<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: [
                                          { text: t("dashboard.index.title"), href: dashboard_path },
                                          { text: t("sessions.index.title"), href: sessions_path },
                                          { text: @session.location.name, href: session_path(@session) },
                                        ]) %>
<% end %>

<% psd_label = "PSD".pluralize(@eligible_for_bulk_psd_count) %>

<%= h1 "Are you sure you want to add #{@eligible_for_bulk_psd_count} new #{psd_label}?" %>

<p class="nhsuk-body">This cannot be undone.</p>

<div class="nhsuk-button-group">
  <%= govuk_button_to "Yes, add #{psd_label}",
                      session_patient_specific_directions_path(@session), class: "nhsuk-u-margin-right-4" %>

  <%= link_to "No, return to session", session_patient_specific_directions_path(@session) %>
</div>
