<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: [
                                          { text: t("dashboard.index.title"), href: dashboard_path },
                                          { text: t("sessions.index.title"), href: sessions_path },
                                          { text: @session.location.name, href: session_path(@session) },
                                        ]) %>
<% end %>

<%= h1 "Are you sure you want to add #{@eligible_for_bulk_psd_count} new PSDs?" %>

<p class="nhsuk-body">This cannot be undone.</p>

<div class="nhsuk-button-group">
  <%= govuk_button_to "Yes, add PSDs",
                      session_patient_specific_directions_path(@session), class: "nhsuk-u-margin-right-4" %>

  <%= link_to "No, return to session",
              new_session_patient_specific_directions_path(@session) %>
</div>
