@use "../../vendor/nhsuk-frontend" as *;

blockquote {
  margin-left: 0;
  padding: nhsuk-spacing(2);
  padding-left: nhsuk-spacing(3);
  border-left: $nhsuk-border-width solid $nhsuk-border-colour;

  @include nhsuk-responsive-margin(4, "bottom");
  @include nhsuk-responsive-margin(2, "top");

  > *:last-child {
    margin-bottom: 0;
  }
}

// Highlight code within main
main {
  li code,
  p code,
  td code {
    padding: 2px;
    color: nhsuk-colour("red");
    background-color: nhsuk-colour("white");
    font-family: ui-monospace, monospace;
    font-weight: 500;
  }
}
