<% content_for :page_title, t(".title") %>

<%= h1 t(".title"), size: "xl" %>

<div class="nhsuk-grid-row">
  <div class="app-grid-column-filters">
    <%= render AppSchoolSearchFormComponent.new(
          @form,
          url: schools_path,
        ) %>
  </div>

  <div class="app-grid-column-results">
    <%= render AppSearchResultsComponent.new(@pagy, label: "schools") do %>
      <% @schools.each do |school| %>
        <%= render AppSchoolCardComponent.new(
              school,
              patient_count: @patient_count_by_school_id.fetch(school.id, 0),
              next_session_date: @next_session_date_by_school_id[school.id],
            ) %>
      <% end %>
    <% end %>
  </div>
</div>
