@use "../vendor/nhsuk-frontend" as *;

.app-action-list {
  display: flex;
  padding: 0;

  @include nhsuk-font-size(19);
  @include nhsuk-responsive-margin(5, "bottom");

  .nhsuk-table__cell & {
    margin-bottom: 0;
  }

  .nhsuk-link {
    @include nhsuk-link-style-no-visited-state;
  }
}

.app-action-list__item {
  align-self: center;
  display: inline-flex;
  margin: 0;
  margin-right: nhsuk-spacing(3);
  padding-right: nhsuk-spacing(3);
}

.app-action-list__item:not(:last-child) {
  border-right: 1px solid $nhsuk-border-colour;
}

.app-action-list__item:last-child {
  border: 0;
  margin-right: 0;
  padding-right: 0;
}

.nhsuk-action-link {
  @include nhsuk-responsive-margin(6, "bottom");
}

.nhsuk-action-link__link {
  display: inline-block; // [1]
  padding-left: 38px; // [2]
  position: relative; // [3]
  text-decoration: none; // [4]

  @include nhsuk-font(22, $weight: bold);

  &:not(:focus):hover {
    .nhsuk-action-link__text {
      text-decoration: underline; // [6]
    }
  }

  @include nhsuk-media-query($until: tablet) {
    padding-left: 26px; // [2]
  }

  @include nhsuk-media-query($media-type: print) {
    color: $nhsuk-print-text-color;

    &:visited {
      color: $nhsuk-print-text-color;
    }
  }

  .nhsuk-icon__arrow-right-circle {
    // stylelint-disable-next-line declaration-no-important
    fill: $color_nhsuk-green !important;
    height: 36px;
    left: -3px;
    position: absolute;
    top: -3px;
    width: 36px;

    @include nhsuk-print-color($nhsuk-print-text-color);

    @include nhsuk-media-query($until: tablet) {
      height: 24px;
      left: -2px;
      margin-bottom: 0;
      top: 1px;
      width: 24px;
    }
  }

  &:focus .nhsuk-icon__arrow-right-circle {
    // stylelint-disable-next-line declaration-no-important
    fill: $color_nhsuk-black !important;
  }
}
