@use "../vendor/nhsuk-frontend" as *;

.app-action-list {
  display: flex;
  padding: 0;

  @include nhsuk-font-size(19);
  @include nhsuk-responsive-margin(5, "bottom");

  .nhsuk-table__cell & {
    margin-bottom: 0;
  }

  .nhsuk-link {
    @include nhsuk-link-style-no-visited-state;
  }
}

.app-action-list__item {
  display: inline-flex;
  align-self: center;
  margin: 0;
  margin-right: nhsuk-spacing(3);
  padding-right: nhsuk-spacing(3);
}

.app-action-list__item:not(:last-child) {
  border-right: 1px solid $nhsuk-border-colour;
}

.app-action-list__item:last-child {
  margin-right: 0;
  padding-right: 0;
  border: 0;
}
