@use "sass:color";
@use "../vendor/nhsuk-frontend" as *;

$_button-shadow-size: $nhsuk-border-width-form-element * 2;
$_secondary-warning-button-hover-colour: color.change(
  $nhsuk-warning-button-colour,
  $alpha: 0.1
);

.button_to {
  display: contents;
}

.nhsuk-button {
  .button_to & {
    margin-bottom: 0;
  }

  .nhsuk-button-group .button_to & {
    $horizontal-gap: nhsuk-spacing(4);
    $vertical-gap: nhsuk-spacing(3);
    margin-bottom: $vertical-gap + $_button-shadow-size;

    @include nhsuk-media-query($from: tablet) {
      margin-right: $horizontal-gap;
    }
  }
}

.app-button--secondary-warning {
  @include nhsuk-button-style(
    $button-colour: $nhsuk-secondary-button-colour,
    $button-border-colour: $nhsuk-warning-button-colour,
    $button-hover-colour: $_secondary-warning-button-hover-colour,
    $button-active-colour: $_secondary-warning-button-hover-colour,
    $button-text-colour: $nhsuk-warning-button-colour,
    $button-shadow-colour: $nhsuk-warning-button-colour
  );
}

.app-button--icon {
  .nhsuk-icon {
    display: block;
    width: 28px;
    height: 28px;
  }
}
