@use "sass:color";
@use "../vendor/nhsuk-frontend" as *;

$_button-shadow-size: $nhsuk-border-width-form-element * 2;
$_secondary-warning-button-hover-colour: color.change(
  $nhsuk-warning-button-colour,
  $alpha: 0.1
);

.button_to {
  display: contents;
}

.nhsuk-button {
  .button_to & {
    margin-bottom: 0;
  }

  .nhsuk-button-group .button_to & {
    $horizontal-gap: nhsuk-spacing(4);
    $vertical-gap: nhsuk-spacing(3);
    margin-bottom: $vertical-gap + $_button-shadow-size;

    @include nhsuk-media-query($from: tablet) {
      margin-right: $horizontal-gap;
    }
  }
}

.app-button--secondary-warning {
  @include nhsuk-button-style(
    $button-colour: $nhsuk-secondary-button-colour,
    $button-border-colour: $nhsuk-warning-button-colour,
    $button-hover-colour: $_secondary-warning-button-hover-colour,
    $button-active-colour: $_secondary-warning-button-hover-colour,
    $button-text-colour: $nhsuk-warning-button-colour,
    $button-shadow-colour: $nhsuk-warning-button-colour
  );
}

/// @link https://github.com/nhsuk/nhsuk-frontend/pull/1712
.app-button--icon {
  display: flex;

  // Align icon in center of button
  align-items: center;
  justify-content: center;

  // Reduce padding to better fit icon
  padding-top: 0;
  padding-bottom: 0;

  .nhsuk-icon {
    width: nhsuk-px-to-rem($nhsuk-icon-size);
    height: nhsuk-px-to-rem($nhsuk-icon-size);
    margin: 0 nhsuk-spacing(1);

    @include nhsuk-media-query($from: mobile) {
      width: nhsuk-px-to-rem($nhsuk-icon-size-large);
      height: nhsuk-px-to-rem($nhsuk-icon-size-large);
    }
  }

  .nhsuk-icon:first-child {
    margin-left: 0;
  }

  .nhsuk-icon:last-child {
    margin-right: 0;
  }

  &:has(.nhsuk-icon:first-child) {
    padding-left: nhsuk-spacing(3) - $nhsuk-border-width-form-element;
  }

  &:has(.nhsuk-icon:last-child) {
    padding-right: nhsuk-spacing(3) - $nhsuk-border-width-form-element;
  }

  &.nhsuk-button--small {
    .nhsuk-icon {
      width: nhsuk-px-to-rem($nhsuk-icon-size);
      height: nhsuk-px-to-rem($nhsuk-icon-size);
    }

    &:has(.nhsuk-icon:first-child) {
      padding-left: nhsuk-spacing(2) - $nhsuk-border-width-form-element;
    }

    &:has(.nhsuk-icon:last-child) {
      padding-right: nhsuk-spacing(2) - $nhsuk-border-width-form-element;
    }
  }
}
