@use "sass:color";
@use "../vendor/nhsuk-frontend" as *;

$_button-shadow-size: $nhsuk-border-width-form-element * 2;
$_secondary-warning-button-hover-colour: color.change(
  $nhsuk-warning-button-colour,
  $alpha: 0.1
);

.button_to {
  display: contents;
}

.nhsuk-button {
  .button_to & {
    margin-bottom: 0;
  }

  .nhsuk-button-group .button_to & {
    $horizontal-gap: nhsuk-spacing(4);
    $vertical-gap: nhsuk-spacing(3);
    margin-bottom: $vertical-gap + $_button-shadow-size;

    @include nhsuk-media-query($from: tablet) {
      margin-right: $horizontal-gap;
    }
  }
}

.app-button--secondary-warning {
  // stylelint-disable-next-line scss/at-extend-no-missing-placeholder
  @extend .nhsuk-button--secondary;

  &,
  &:link,
  &:visited,
  &:active,
  &:hover {
    color: $nhsuk-warning-button-colour;
  }

  &:hover,
  &:hover:visited {
    background-color: $_secondary-warning-button-hover-colour;
    color: $nhsuk-warning-button-colour;
  }

  &:active {
    background-color: $_secondary-warning-button-hover-colour;
    border-color: $nhsuk-warning-button-colour;
  }

  &:not(:focus):not(:active)::before {
    border-color: $nhsuk-warning-button-colour;
  }

  &:not(:focus):not(:active)::after {
    box-shadow: 0 $_button-shadow-size 0 $nhsuk-warning-button-colour;
  }
}

.app-button--small {
  padding: nhsuk-spacing(2) 12px nhsuk-spacing(1);

  @include nhsuk-font-size(16);
}

.app-button--icon {
  .nhsuk-icon {
    display: block;
    height: 28px;
    width: 28px;
  }
}
