@use "../vendor/nhsuk-frontend" as *;
@use "../core" as app;

.app-card {
  &--aqua-green {
    .nhsuk-card__heading--feature {
      background-color: nhsuk-colour("aqua-green");
    }
  }

  &--dark-orange {
    .nhsuk-card__heading--feature {
      background-color: app.$dark-orange-colour;
    }
  }

  &--green {
    .nhsuk-card__heading--feature {
      background-color: nhsuk-colour("green");
    }
  }

  &--grey {
    .nhsuk-card__heading--feature {
      background-color: nhsuk-colour("grey-1");
    }
  }

  &--purple {
    .nhsuk-card__heading--feature {
      background-color: nhsuk-colour("purple");
    }
  }

  &--red {
    .nhsuk-card__heading--feature {
      background-color: nhsuk-colour("red");
    }
  }

  &--reversed {
    background-color: nhsuk-colour("blue");
    border-color: nhsuk-shade(nhsuk-colour("blue"), 25%);
    color: nhsuk-colour("white");

    &:active {
      border-color: nhsuk-shade(nhsuk-colour("blue"), 50%);
    }

    .nhsuk-card__link {
      @include nhsuk-link-style-white;
    }
  }

  &--offset {
    background-color: rgba(nhsuk-colour("grey-5"), 0.5);
  }

  &--data {
    display: flex;

    .nhsuk-card__content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    .nhsuk-card__heading {
      @include nhsuk-typography-weight-normal;
    }

    .nhsuk-card__description {
      margin-top: auto;

      @include nhsuk-font-size(48);
      @include nhsuk-typography-weight-bold;
    }
  }
}

.app-card--compact {
  @include nhsuk-responsive-margin(3, "bottom");

  .nhsuk-button-group {
    margin-top: nhsuk-spacing(-4);
  }

  .nhsuk-card__heading {
    @include nhsuk-responsive-margin(1, "bottom");
  }

  .nhsuk-card__content {
    @include nhsuk-responsive-padding(4);
    @include nhsuk-responsive-padding(3, "bottom");
  }
}
