@use "sass:color";
@use "../vendor/nhsuk-frontend" as *;

.app-count {
  display: inline-block;

  min-width: nhsuk-spacing(5);
  padding-right: nhsuk-spacing(2);
  padding-left: nhsuk-spacing(2);

  border-radius: nhsuk-spacing(3);

  color: nhsuk-colour("white");
  background-color: color.scale(
    color.scale($nhsuk-link-colour, $lightness: -50%),
    $alpha: -60%
  );

  text-align: center;

  @include nhsuk-font(16);

  :focus & {
    background-color: color.scale($nhsuk-focus-text-colour, $alpha: -40%);
  }
}
