@use "../vendor/nhsuk-frontend" as *;

.app-dev-tools {
  background-color: nhsuk-colour("pale-yellow");
  background-image: linear-gradient(
    -45deg,
    nhsuk-colour("warm-yellow") 25%,
    nhsuk-colour("pale-yellow") 25%,
    nhsuk-colour("pale-yellow") 50%,
    nhsuk-colour("warm-yellow") 50%,
    nhsuk-colour("warm-yellow") 75%,
    nhsuk-colour("pale-yellow") 75%,
    nhsuk-colour("pale-yellow") 100%
  );
  background-size: nhsuk-spacing(2) nhsuk-spacing(2);
  background-repeat: repeat-x;

  @include nhsuk-clearfix();
  @include nhsuk-print-hide();
  @include nhsuk-responsive-padding(5, bottom);
  @include nhsuk-responsive-padding(5, top);
}
