@use "../vendor/nhsuk-frontend" as *;

.app-environment {
  @include nhsuk-font-size(14);
  @include nhsuk-responsive-padding(2, bottom);
  @include nhsuk-responsive-padding(2, top);

  .nhsuk-link {
    color: inherit;
  }

  .nhsuk-width-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: nhsuk-spacing(1) nhsuk-spacing(2);
  }
}
