@use "sass:color";
@use "../vendor/nhsuk-frontend" as *;

.app-filters {
  &.nhsuk-card {
    background-color: color.scale(nhsuk-colour("grey-4"), $alpha: -50%);
  }

  .nhsuk-card__heading {
    background-color: nhsuk-colour("grey-1");
  }

  .nhsuk-radios__conditional {
    margin-bottom: nhsuk-spacing(2);
  }

  .nhsuk-radios__label,
  .nhsuk-checkboxes__label {
    padding-right: 0;
  }

  // Adjust design and spacing of details component
  .nhsuk-details {
    margin-right: nhsuk-spacing(-4);
    margin-left: nhsuk-spacing(-4);

    @include nhsuk-media-query($from: tablet) {
      margin-right: nhsuk-spacing(-5);
      margin-left: nhsuk-spacing(-5);
    }

    &[open] {
      background-color: nhsuk-colour("grey-4");
    }
  }

  .nhsuk-details__summary {
    @include nhsuk-responsive-margin(5, "left");
    @include nhsuk-responsive-margin(5, "right");
  }

  .nhsuk-details__text {
    // Remove once https://github.com/nhsuk/nhsuk-frontend/pull/1633 released
    box-sizing: border-box;
    border-left: 0;

    @include nhsuk-responsive-padding(5, "left");
    @include nhsuk-responsive-padding(5, "right");
  }

  // Adjust margin around date inputs
  & .nhsuk-date-input__item {
    margin-right: nhsuk-spacing(3);
  }

  & .nhsuk-date-input__item:last-child {
    margin-right: 0;
  }
}
