@use "../vendor/nhsuk-frontend" as *;

.app-heading-group {
  display: flex;
  flex-direction: column;
  gap: nhsuk-spacing(4);
  justify-content: space-between;

  @include nhsuk-responsive-margin(7, "bottom");

  @include nhsuk-media-query($from: tablet) {
    flex-direction: row;
    align-items: center;
  }

  > *,
  button {
    margin: 0;
  }
}
