@use "sass:color";
@use "../vendor/nhsuk-frontend" as *;

.app-sticky-navigation {
  border-bottom: 1px solid $nhsuk-border-colour;
  background: nhsuk-colour("grey-5");

  @include nhsuk-responsive-margin(5, "bottom");

  .app-secondary-navigation {
    margin: 0;
  }

  .app-secondary-navigation__list {
    box-shadow: none;

    @include nhsuk-media-query($until: tablet) {
      margin-left: #{$nhsuk-gutter-half * -1};
    }
  }

  &[data-app-sticky-init] {
    position: sticky;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;

    width: 100vw;
    margin-right: -50vw;
    margin-left: -50vw;
  }

  &[data-stuck="true"] {
    border-bottom-color: nhsuk-colour("grey-3");
    box-shadow: 0 $nhsuk-border-width 0
      color.scale(nhsuk-colour("grey-3"), $alpha: -50%);
  }
}
