@use "../vendor/nhsuk-frontend" as *;

.app-table--csv {
  th,
  td {
    @include nhsuk-font-size(16);
    @include nhsuk-responsive-padding(2, "bottom");
    @include nhsuk-responsive-padding(3, "right");
    @include nhsuk-responsive-padding(2, "top");
  }

  caption {
    @include nhsuk-font($size: 19, $weight: bold);
  }

  i {
    padding: 2px;
    color: nhsuk-shade(nhsuk-colour("red"), 50%);
    font-family: ui-monospace, monospace;
    font-style: normal;
    font-weight: 500;
  }
}

.app-table__cell--muted {
  color: $nhsuk-secondary-text-colour;
  background-color: nhsuk-colour("grey-5");
}
