@use "../vendor/nhsuk-frontend" as *;
@use "../core" as app;

.app-vaccine-criteria {
  display: inline-flex;
  align-items: center;
  column-gap: nhsuk-spacing(2);

  &::before {
    content: "";
    width: 1em;
    height: 1em;
  }

  &[data-value="without-gelatine"]::before {
    background-color: currentcolor;
    rotate: 45deg;
    scale: 0.75;
    transform-origin: center;
  }

  &[data-value="nasal"]::before {
    width: 1em;
    height: 1em;
    border: 0.25em solid currentcolor;
    border-radius: 100%;
  }
}
