<h1 class="nhsuk-heading-l">
  <%= @campaign.title %>
  <span class="nhsuk-caption-l nhsuk-u-margin-top-2"><%= @campaign.date %></span>
</h1>

<div class="nhsuk-grid-row" data-controller="offline-campaign">
  <div class="nhsuk-grid-column-two-thirds">
    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">
          <%= link_to "Record vaccinations", campaign_vaccinations_path(@campaign) %>
        </h2>
        <p>Record vaccinations for children.</p>
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-column-one-third">
    <div id="save-offline" data-offline-campaign-target="save-offline">
      <h2 class="nhsuk-heading-s">Save offline</h2>
      <p>Record vaccinations while not connected to the internet.</p>

      <form method="post">
        <button class="nhsuk-button nhsuk-u-margin-bottom-3"
                type="submit"
                data-action="offline-campaign#saveOffline:prevent">
          Save offline
        </button>
      </form>
    </div>
  </div>
</div>
