.app-consent-banner {
  padding: nhsuk-spacing(3) nhsuk-spacing(5);

  .nhsuk-icon__tick,
  .nhsuk-icon__cross {
    vertical-align: bottom;
  }

  &--white {
    border: 1px solid $nhsuk-border-color;
    background-color: $color_nhsuk-white;
  }

  &--green {
    background-color: tint($color_nhsuk-green, 80%);
    border: 1px solid shade($color_nhsuk-green, 40%);
    color: shade($color_nhsuk-green, 40%);
  }

  &--purple {
    background-color: tint($color_nhsuk-purple, 80%);
    border: 1px solid shade($color_nhsuk-purple, 30%);
    color: shade($color_nhsuk-purple, 30%);
  }

  &--red {
    background-color: tint($color_nhsuk-red, 80%);
    border: 1px solid shade($color_nhsuk-red, 50%);
    color: shade($color_nhsuk-red, 50%);
  }

  &--orange {
    background-color: tint($color_nhsuk-warm-yellow, 50%);
    border: 1px solid shade($color_nhsuk-warm-yellow, 70%);
    color: shade($color_nhsuk-warm-yellow, 70%);
  }

  &--blue {
    background-color: tint($color_nhsuk-blue, 80%);
    border: 1px solid shade($color_nhsuk-blue, 30%);
    color: shade($color_nhsuk-blue, 30%);
  }

  &--yellow {
    background-color: tint($color_nhsuk-yellow, 50%);
    border: 1px solid shade($color_nhsuk-yellow, 70%);
    color: shade($color_nhsuk-yellow, 70%);
  }
}
