$app-warning-button-color: $color_nhsuk-red;
$app-warning-button-hover-color: shade($app-warning-button-color, 20%);
$app-warning-button-active-color: shade($app-warning-button-color, 50%);
$app-warning-button-shadow-color: shade($app-warning-button-color, 50%);
$button-shadow-size: 4px;

.app-button--small {
  @include nhsuk-typography-responsive(16);
  padding: 6px nhsuk-spacing(3);
}

.app-button--warning {
  background-color: $app-warning-button-color;
  box-shadow: 0 $button-shadow-size 0 $app-warning-button-shadow-color;

  &:hover {
    background-color: darken($app-warning-button-color, 10%);
  }

  &:focus {
    background: $nhsuk-focus-color;
    box-shadow: 0 $button-shadow-size 0 $nhsuk-focus-text-color;
    color: $nhsuk-focus-text-color;
    outline: $nhsuk-focus-width solid transparent;
  }

  &:active {
    background: $app-warning-button-active-color;
    box-shadow: none;
    color: $nhsuk-button-text-color;
    top: $button-shadow-size;
  }

  &.nhsuk-button--disabled {
    background-color: $app-warning-button-color;
  }
}

.nhsuk-button {
  .nhsuk-table & {
    margin-bottom: 0;
  }
}
