.app-button-group {
  @include nhsuk-responsive-margin(6, "bottom");

  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: nhsuk-spacing(3) nhsuk-spacing(4);

  @include mq($from: tablet) {
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &--table {
    @include nhsuk-responsive-margin(1, "bottom");
    gap: nhsuk-spacing(2);
    justify-content: end;
    margin-top: #{nhsuk-spacing(1) * -1};
    width: 100%;

    @include mq($from: mobile) {
      flex-direction: row;

      .nhsuk-button {
        width: auto;
      }
    }

    @include mq($from: desktop) {
      flex-wrap: nowrap;
    }
  }
}

.app-button-group .nhsuk-link {
  @include nhsuk-font($size: 19, $line-height: 19px);
  display: inline-block;
  margin-bottom: nhsuk-spacing(2);
  margin-top: nhsuk-spacing(2);
  max-width: 100%;
  text-align: center;

  @include mq($from: tablet) {
    text-align: left;
  }
}

.app-button-group .nhsuk-button {
  margin-bottom: 0;
  width: 100%;

  @include mq($from: tablet) {
    width: auto;
  }
}
