$_button-shadow-size: $nhsuk-border-width-form-element * 2;

.nhsuk-button {
  .button_to &,
  .nhsuk-table & {
    margin-bottom: 0;
  }
}

.nhsuk-button--login {
  align-items: center;
  display: inline-flex;
  gap: nhsuk-spacing(3);

  & span {
    @include nhsuk-media-query($until: desktop) {
      @include visually-hidden;
    }
  }
}

.app-button--secondary-warning {
  @extend .nhsuk-button--secondary;

  &,
  &:link,
  &:visited,
  &:active,
  &:hover {
    color: $nhsuk-warning-button-color;
  }

  &:hover {
    background-color: rgba($nhsuk-warning-button-color, 10%);
  }

  &:active {
    background-color: rgba($nhsuk-warning-button-color, 10%);
    border-color: $nhsuk-warning-button-color;
  }

  &:not(:focus):not(:active)::before {
    border-color: $nhsuk-warning-button-color;
  }

  &:not(:focus):not(:active)::after {
    box-shadow: 0 $_button-shadow-size 0 $nhsuk-warning-button-color;
  }
}

.app-button--small {
  @include nhsuk-font-size(16);
  padding: nhsuk-spacing(2) 12px nhsuk-spacing(1);
}

.app-button--icon {
  .nhsuk-icon {
    display: block;
    height: 28px;
    width: 28px;
  }
}
