.app-card {
  &--green {
    .nhsuk-card__heading--feature {
      background-color: $color_nhsuk-green;
    }
  }

  &--orange {
    .nhsuk-card__heading--feature {
      background-color: $color_nhsuk-warm-yellow;
      color: $nhsuk-focus-text-color;
    }
  }

  &--purple {
    .nhsuk-card__heading--feature {
      background-color: $color_nhsuk-purple;
    }
  }

  &--red {
    .nhsuk-card__heading--feature {
      background-color: $color_nhsuk-red;
    }
  }

  &--empty-list {
    margin-bottom: 0;
    min-height: 300px;
  }
}
