.app-card {
  &--aqua-green {
    .nhsuk-card__heading--feature {
      background-color: $color_nhsuk-aqua-green;
    }
  }

  &--green {
    .nhsuk-card__heading--feature {
      background-color: $color_nhsuk-green;
    }
  }

  &--dark-orange {
    .nhsuk-card__heading--feature {
      background-color: $color_app-dark-orange;
    }
  }

  &--purple {
    .nhsuk-card__heading--feature {
      background-color: $color_nhsuk-purple;
    }
  }

  &--red {
    .nhsuk-card__heading--feature {
      background-color: $color_nhsuk-red;
    }
  }
}
