.app-count {
  @include nhsuk-font(16);

  background-color: rgba($color_nhsuk-grey-4, 0.5);
  border-radius: nhsuk-spacing(3);
  display: inline-block;
  min-width: nhsuk-spacing(5);
  padding-left: nhsuk-spacing(2);
  padding-right: nhsuk-spacing(2);
  text-align: center;
}
