.app-dev-tools {
  background-color: $color_nhsuk-pale-yellow;
  background-image: linear-gradient(
    -45deg,
    $color_nhsuk-warm-yellow 25%,
    $color_nhsuk-pale-yellow 25%,
    $color_nhsuk-pale-yellow 50%,
    $color_nhsuk-warm-yellow 50%,
    $color_nhsuk-warm-yellow 75%,
    $color_nhsuk-pale-yellow 75%,
    $color_nhsuk-pale-yellow 100%
  );
  background-size: nhsuk-spacing(2) nhsuk-spacing(2);
  background-repeat: repeat-x;
  @include nhsuk-clearfix();
  @include nhsuk-print-hide();
  @include nhsuk-responsive-padding(5, bottom);
  @include nhsuk-responsive-padding(5, top);
}
