li code {
  background-color: #ffffff;
  color: #d14;
  padding: 2px 8px;
  word-break: break-word;
}

blockquote {
  @include nhsuk-responsive-margin(4, "bottom");
  @include nhsuk-responsive-margin(2, "top");

  border-left: $nhsuk-border-width solid $nhsuk-border-color;
  margin-left: 0;
  padding: nhsuk-spacing(2);
  padding-left: nhsuk-spacing(3);

  > *:last-child {
    margin-bottom: 0;
  }
}
