.app-header {
  &__container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  &__service-name {
    line-height: 1.25;
    max-width: auto;
  }

  &__navigation-list {
    .nhsuk-header__navigation-item:first-of-type {
      margin-right: auto;
    }
  }

  &__button-link {
    @extend .nhsuk-header__navigation-link;
    border: none;
    border-bottom: nhsuk-spacing(1) solid transparent;
    border-top: nhsuk-spacing(1) solid transparent;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
  }
}
