.app-header {
  &__button-link {
    @extend .nhsuk-header__navigation-link;
    border: none;
    border-bottom: nhsuk-spacing(1) solid transparent;
    border-top: nhsuk-spacing(1) solid transparent;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
  }

  &__navigation-item--divider {
    margin-right: auto;
  }
}
