.app-list--events {
  p {
    margin-bottom: nhsuk-spacing(1);
  }

  li {
    padding-bottom: nhsuk-spacing(1);
  }

  li + li {
    border-top: 1px solid $nhsuk-border-color;
    padding-top: nhsuk-spacing(2);
  }
}

.nhsuk-summary-list__value:has(.app-list--events) {
  padding-right: 0;
}
