// Use NHSUK colour for <mark>
mark {
  background-color: $color_nhsuk-pale-yellow;
}

// `$nhsuk-page-width` isn’t globally editable, so need to apply manually
.app-signed-in {
  .nhsuk-width-container,
  .nhsuk-header__navigation-list,
  .nhsuk-header__container {
    max-width: $app-page-width;

    @include govuk-media-query($from: desktop) {
      margin: 0 $nhsuk-gutter;
    }

    @include mq($and: "(min-width: #{($app-page-width + $nhsuk-gutter * 2)})") {
      margin: 0 auto;
    }
  }
}

// govuk_design_system_formbuilder's fieldset legend always adds a sizing class
// which bolds the font and overrides the margin. Rather than monkey patch that
// component to not add the sizing class, we can override the two rules in CSS.
.app-fieldset__legend--reset {
  font-weight: normal;
  margin-bottom: nhsuk-spacing(2);
}
