// NHS.UK Frontend overrides
.nhsuk-label--s,
.nhsuk-fieldset__legend--s {
  font-weight: normal;
  margin-bottom: nhsuk-spacing(2);
}

// Use NHSUK colour for <mark>
mark {
  background-color: $color_nhsuk-pale-yellow;
}

// `$nhsuk-page-width` isn’t globally editable, so need to apply manually
.nhsuk-width-container,
.nhsuk-header__navigation-list,
.nhsuk-header__container {
  max-width: $app-page-width;

  @include govuk-media-query($from: desktop) {
    margin: 0 $nhsuk-gutter;
  }

  @include mq($and: "(min-width: #{($app-page-width + $nhsuk-gutter * 2)})") {
    margin: 0 auto;
  }
}
