$button-shadow-size: 2px;

.nhsuk-password-input__input {
  // IE 11 and Microsoft Edge comes with its own password reveal function. We
  // want to hide it, so that there aren't two controls presented to the user
  // that do the same thing but aren't in sync with one another. This doesn't
  // affect the function that allows Edge users to toggle password visibility
  // by pressing Alt+F8, which cannot be programmatically disabled.
  &::-ms-reveal {
    display: none;
  }
}

.nhsuk-password-input__toggle {
  // Reduce shadow size to align with input border
  box-shadow: 0 $button-shadow-size 0 $nhsuk-secondary-button-shadow-color;

  // Reduce font weight
  font-weight: normal;

  // Adjust bottom margin to offset shadow size given flex-end alignment
  margin-bottom: $button-shadow-size;

  // Add margin to top so that button doesn’t obscure input’s focus style
  margin-top: nhsuk-spacing(1);

  // Adjust padding to match size of input
  padding: #{nhsuk-spacing(1) + 2px};

  // Make full width at smaller breakpoints
  width: 100%;

  &:active {
    top: $button-shadow-size;
  }

  // Hide button by default, JS removes this attribute
  &[hidden] {
    display: none;
  }

  @include mq($from: mobile) {
    flex: 1 0 5em;

    // Move spacing from top to the left
    margin-left: nhsuk-spacing(1);
    margin-top: 0;

    // Adjust padding to account for smaller shadow
    padding-bottom: #{nhsuk-spacing(1) - $button-shadow-size};
    padding-top: nhsuk-spacing(1);

    // Reset width
    width: auto;
  }
}
