.app-patients {
  @include top-and-bottom;

  background-color: $color_nhsuk-white;
  display: flex;
  flex-wrap: wrap;

  & .app-patients__filters {
    @include nhsuk-responsive-padding(4);

    background-color: $color_nhsuk-grey-4;
    flex-basis: 15rem;
    flex-grow: 1;
  }

  & .app-patients__no-results {
    @include nhsuk-responsive-margin(4);
  }

  & .app-patients__table {
    @include nhsuk-responsive-margin(4);

    flex-basis: 0;
    flex-grow: 999;
    min-width: 70%;
  }

  & th[aria-sort] {
    a {
      background: none;
      box-shadow: none;
      display: flex;
      gap: nhsuk-spacing(1);
      place-items: center;
      text-decoration: none;
    }

    a:focus,
    a:visited {
      color: $color_nhsuk-black;
      outline: none;
    }

    a::after {
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 27'%3E%3Cpath fill='%23212b32' d='m13 18.6-7-7.2c-.6-.5-.6-1.4 0-2 .5-.5 1.3-.5 2 0l6 6.2 6-6.2c.7-.5 1.5-.5 2 0 .6.6.6 1.5 0 2l-7 7.2c-.3.3-.6.4-1 .4s-.7-.1-1-.4Z'%3E%3C/path%3E%3C/svg%3E%0A");
      background-position: center right;
      background-repeat: no-repeat;
      background-size: 1em;
      content: "";
      display: block;
      height: 1em;
      opacity: 0.2;
      width: 1em;
    }

    &[aria-sort$="ing"] a::after {
      opacity: 1;
    }

    &[aria-sort="descending"] a::after {
      transform: rotate(180deg);
    }
  }
}
