$button-shadow-size: 2px;

.app-search {
  @include nhsuk-responsive-padding(4);

  align-items: end;
  background-color: $color_nhsuk-grey-4;
  display: flex;
  gap: nhsuk-spacing(1);
}

.app-search__form-group {
  flex: 1;
  margin-bottom: 0;
}

.app-search__input {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z'></path></svg>");
  background-position: nhsuk-spacing(1) center;
  background-repeat: no-repeat;
  background-size: 27px;
  padding-left: nhsuk-spacing(5);
}

.app-search__button {
  // Reduce shadow size to align with input border
  box-shadow: 0 $button-shadow-size 0 $nhsuk-secondary-button-shadow-color;

  // Adjust bottom margin to offset shadow size given flex-end alignment
  margin-bottom: $button-shadow-size;

  // Adjust padding to match size of input
  padding: nhsuk-spacing(1) + 1px nhsuk-spacing(3);

  // Make full width at smaller breakpoints
  width: auto;

  @include mq($from: tablet) {
    padding: nhsuk-spacing(1) nhsuk-spacing(3);
  }

  &:active {
    top: $button-shadow-size;
  }

  &:focus {
    box-shadow: 0 $button-shadow-size 0 $nhsuk-secondary-button-shadow-color;
  }

  // input[type=submit] seems 1px taller than button
  &[type="submit"] {
    padding-top: nhsuk-spacing(1) - 1px;
  }
}
