.app-status {
  align-items: center;
  display: inline-flex;
  font-weight: bold;
  gap: nhsuk-spacing(1);

  .nhsuk-icon {
    margin-left: nhsuk-spacing(1) * -1;
  }

  &--blue {
    color: $color_nhsuk-blue;
  }

  &--dark-orange {
    color: $color_app-dark-orange;
  }

  &--red {
    color: $color_nhsuk-red;
  }
}
