// Ensure border colour inside warning callout can be seen and matches
.nhsuk-warning-callout {
  .nhsuk-summary-list__row {
    border-color: color.scale(
      color.mix($nhsuk-border-color, $color_nhsuk-yellow, 50%),
      $lightness: -10%
    );
  }
}

// Remove bottom border on last row of last child
.nhsuk-summary-list__row:last-of-type {
  border: none;
}

// Full width summary list
.app-summary-list--full-width {
  .nhsuk-summary-list__row {
    display: block;
    padding-bottom: nhsuk-spacing(2);
    padding-top: nhsuk-spacing(2);
  }

  &.nhsuk-summary-list--no-border .nhsuk-summary-list__row {
    padding: 0;
  }

  .nhsuk-summary-list__key,
  .nhsuk-summary-list__value,
  .nhsuk-summary-list__actions {
    display: block;
    text-align: left;
    width: 100%;
  }

  .nhsuk-summary-list__key {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
