.app-table--dense {
  .nhsuk-table__cell {
    padding-top: nhsuk-spacing(2);
    padding-bottom: nhsuk-spacing(2);
  }
}

.app-table--patients {
  margin: 0;

  .nhsuk-table__cell {
    padding-top: nhsuk-spacing(2);
    padding-bottom: nhsuk-spacing(2);
  }
}

.app-table--select-cohort {
  .nhsuk-table__cell,
  th {
    padding-top: nhsuk-spacing(1);
    padding-bottom: nhsuk-spacing(1);
    vertical-align: middle;
  }

  .nhsuk-checkboxes {
    padding: 0;
    transform-origin: center left;
    transform: scale(0.75);
  }

  .nhsuk-checkboxes__item {
    padding: 0;
  }
}

.app-table--csv {
  th,
  td {
    @include nhsuk-typography-responsive(16);
    @include nhsuk-responsive-padding(2, "bottom");
    @include nhsuk-responsive-padding(3, "right");
    @include nhsuk-responsive-padding(2, "top");
  }

  caption {
    @include nhsuk-font($size: 19, $weight: bold);
  }

  i {
    color: shade($color_nhsuk-red, 50%);
    font-family: ui-monospace, monospace;
    font-style: normal;
    font-weight: 500;
    padding: 2px;
  }
}

// Use same bottom margin for responsive table as non-responsive table
.nhsuk-table-responsive {
  @include nhsuk-responsive-margin(7, "bottom");
}

// Don't show a grey background when hovering over table rows.
.nhsuk-table__row:hover {
  background: none;
}
