.app-u-nowrap {
  white-space: nowrap;
}

.app-u-text-decoration-none {
  text-decoration: none;
}

.app-u-width-one-fifth {
  width: 100% !important;

  @include mq($from: tablet) {
    width: 20% !important;
  }
}

.nhsuk-visually-hidden {
  @include visually-hidden();
}

.app-visually-hidden-until-desktop {
  @include mq($until: desktop) {
    @include visually-hidden();
  }
}

.app-visually-hidden-from-desktop {
  @include mq($from: tablet) {
    @include visually-hidden();
  }
}
