@use "sass:color";

// Configure and import GOV.UK Frontend
$govuk-font-family: "Frutiger W01", Arial, sans-serif;
$govuk-border-colour: #d8dde0;
$govuk-brand-colour: #005eb8;
$govuk-error-colour: #d5281b;
$govuk-success-colour: #007f3b;
$govuk-global-styles: false;
$govuk-assets-path: "/";

@import "govuk-frontend/dist/govuk/base";
@import "govuk-frontend/dist/govuk/components/checkboxes";
@import "govuk-frontend/dist/govuk/components/file-upload/index";
@import "govuk-frontend/dist/govuk/components/notification-banner/index";
@import "govuk-frontend/dist/govuk/components/pagination/index";
@import "govuk-frontend/dist/govuk/components/panel/index";

// Configure and import NHS.UK Frontend
$nhsuk-fonts-path: "/";
$mq-breakpoints: (
  mobile: 320px,
  tablet: 641px,
  desktop: 769px,
  wide: 1300px,
);

@import "nhsuk-frontend/packages/nhsuk";

// App options
$app-page-width: 1160px;
$color_app-dark-orange: darken(
  mix($color_nhsuk-red, $color_nhsuk-warm-yellow, 55%),
  10%
);

// Helpers
@import "helpers/link";

// Application components
@import "action_list";
@import "add_another";
@import "autocomplete";
@import "button";
@import "button-group";
@import "card";
@import "count";
@import "dev-tools";
@import "file-upload";
@import "globals";
@import "header";
@import "heading-group";
@import "highlight";
@import "list";
// @import "offline";
@import "overrides";
@import "panel";
@import "password-input";
@import "patients";
@import "secondary-navigation";
@import "status";
@import "summary-list";
@import "table";
@import "tabs";
@import "tag";
@import "typography";
@import "utilities";
