// NHS.UK frontend components
@forward "vendor/nhsuk-frontend" with (
  $nhsuk-page-width: 1100px,
  $nhsuk-grid-widths: (
    one-fifth: 20%,
    one-quarter: 25%,
    one-third: 33.3333%,
    one-half: 50%,
    two-thirds: 66.6666%,
    three-quarters: 75%,
    full: 100%,
  )
);

// Application components
@forward "components";
