// Configure and import GOV.UK Frontend
$govuk-font-family: "Frutiger W01", Arial, sans-serif;
$govuk-border-colour: #d8dde0;
$govuk-brand-colour: #005eb8;
$govuk-error-colour: #d5281b;
$govuk-success-colour: #007f3b;
$govuk-global-styles: false;
$govuk-assets-path: "/";

@import "govuk-frontend/dist/govuk/base";
@import "govuk-frontend/dist/govuk/components/checkboxes";
@import "govuk-frontend/dist/govuk/components/file-upload/index";
@import "govuk-frontend/dist/govuk/components/notification-banner/index";
@import "govuk-frontend/dist/govuk/components/panel/index";
@import "govuk-frontend/dist/govuk/components/phase-banner/index";

// Configure and import NHS.UK Frontend
$nhsuk-fonts-path: "/";
$mq-breakpoints: (
  mobile: 320px,
  tablet: 641px,
  desktop: 769px,
  wide: 1300px,
);

@import "nhsuk-frontend/packages/nhsuk";

// Application components
@import "action-table";
@import "button";
@import "card";
@import "dev-tools";
@import "file-upload";
@import "header";
@import "globals";
@import "list";
@import "notification-banner";
// @import "offline";
@import "panel";
@import "password-input";
@import "phase-banner";
@import "table";
@import "tabs";
@import "tag";
@import "status";
@import "summary-list";
@import "utilities";

// NHS.UK Frontend overrides
.nhsuk-label--s,
.nhsuk-fieldset__legend--s {
  font-weight: normal;
  margin-bottom: nhsuk-spacing(2);
}

// Use NHSUK colour for <mark>
mark {
  background-color: $color_nhsuk-pale-yellow;
}

// Some govuk-frontend JS components dynamically insert content with the
// govuk-visually-hidden class. So we need to shim it.
.govuk-visually-hidden {
  @extend .nhsuk-visually-hidden;
}
