@use "govuk-frontend/govuk/all" with (
  $govuk-font-family: (
    Frutiger W01,
    Arial,
    sans-serif,
  ),
  $govuk-brand-colour: #005eb8,
  $govuk-error-colour: #d5281b,
  $govuk-success-colour: #007f3b,
  $govuk-global-styles: false,
  $govuk-new-link-styles: true,
  $govuk-assets-path: "/",
  $mq-breakpoints: (
    mobile: 320px,
    tablet: 641px,
    desktop: 769px,
    wide: 1300px,
  )
);

$nhsuk-fonts-path: "/";

@import "nhsuk-frontend/packages/nhsuk";

$color_app-pale-blue: #ccdff1;

@import "card";
@import "header";
@import "notification-banner";
@import "offline";
@import "panel";
@import "table";
@import "tag";
@import "status";
@import "summary-list";
@import "utilities";

.nhsuk-visually-hidden {
  @extend .nhsuk-u-visually-hidden;
}
