$nhsuk-fonts-path: "/";
@import "nhsuk-frontend/packages/nhsuk";

$govuk-font-family: $nhsuk-font, $nhsuk-font-fallback;
$govuk-global-styles: false;
$govuk-new-link-styles: true;
$govuk-assets-path: "/";
@import "govuk-frontend/govuk/all";

$color_app-pale-blue: #ccdff1;

@import "_offline.sass.scss";
@import "_outcome-tag.scss";

.app-u-frutiger,
.app-u-frutiger * {
  font-family: "Frutiger W01", Arial, sans-serif !important;
}
