$nhsuk-font: system-ui;

$nhsuk-typography-scale: (
  48: (
    null: (
      font-size: 32px,
      line-height: 40px,
    ),
    tablet: (
      font-size: 48px,
      line-height: 56px,
    ),
    print: (
      font-size: 19pt,
      line-height: 1.15,
    ),
  ),
  32: (
    null: (
      font-size: 24px,
      line-height: 32px,
    ),
    tablet: (
      font-size: 32px,
      line-height: 40px,
    ),
    print: (
      font-size: 16pt,
      line-height: 1.05,
    ),
  ),
  24: (
    null: (
      font-size: 20px,
      line-height: 28px,
    ),
    tablet: (
      font-size: 24px,
      line-height: 32px,
    ),
    print: (
      font-size: 14pt,
      line-height: 1.15,
    ),
  ),
  22: (
    null: (
      font-size: 18px,
      line-height: 28px,
    ),
    tablet: (
      font-size: 22px,
      line-height: 32px,
    ),
    print: (
      font-size: 14pt,
      line-height: 1.15,
    ),
  ),
  19: (
    null: (
      font-size: 16px,
      line-height: 24px,
    ),
    tablet: (
      font-size: 19px,
      line-height: 28px,
    ),
    print: (
      font-size: 12pt,
      line-height: 1.15,
    ),
  ),
  16: (
    null: (
      font-size: 14px,
      line-height: 24px,
    ),
    tablet: (
      font-size: 16px,
      line-height: 24px,
    ),
    print: (
      font-size: 10pt,
      line-height: 1.2,
    ),
  ),
  14: (
    null: (
      font-size: 12px,
      line-height: 20px,
    ),
    tablet: (
      font-size: 14px,
      line-height: 24px,
    ),
    print: (
      font-size: 9pt,
      line-height: 1.2,
    ),
  ),
);

@import "nhsuk-frontend/packages/nhsuk";

// NHS.UK frontend overrides
body,
html {
  background-color: $color_nhsuk-white;
}

.nhsuk-width-container {
  max-width: 720px;
}

.nhsuk-fieldset {
  margin-top: nhsuk-spacing(3);
}

.nhsuk-label--s,
.nhsuk-fieldset__legend--s {
  padding-top: nhsuk-spacing(2);
  margin-bottom: nhsuk-spacing(2);
}

.nhsuk-fieldset__legend--l,
.nhsuk-heading-l {
  border-top: 1px solid $nhsuk-border-color;
  padding-top: nhsuk-spacing(3);
  width: 100%;
}

.nhsuk-inset-text {
  max-width: 100%;
  padding-bottom: 0;
  padding-top: 0;
}

.nhsuk-visually-hidden {
  @extend .nhsuk-u-visually-hidden;
}

@media print {
  body {
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;

    &::after {
      content: "";
    }
  }

  .nhsuk-main-wrapper {
    padding: 0;
  }

  .nhsuk-width-container {
    max-width: 100%;
  }

  .nhsuk-button {
    display: none;
  }

  .nhsuk-radios__conditional--hidden {
    display: block !important;
  }

  .nhsuk-heading-xl,
  .nhsuk-heading-l,
  .nhsuk-heading-m,
  .nhsuk-body-m,
  .nhsuk-list {
    margin-bottom: nhsuk-spacing(2);
  }
}
