<%= h1 t("consent_forms.confirmation_needs_triage.title.#{@consent_form.programme.type}") %>

<p>
  As you answered ‘yes’ to some of the health questions, we need to check the
  vaccination is suitable for <%= @consent_form.full_name %>. We’ll review your
  answers and get in touch again soon.
</p>
