<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
    href: session_consent_form_edit_path(@session, @consent_form, :school),
    name: "edit school page"
  ) %>
<% end %>

<%= h1 "You cannot give or refuse consent through this service",
  class: 'nhsuk-heading-l' %>

<p>This service is being piloted with a small number of schools. It’s only for
parents whose children attend participating schools.</p>

<p>
  To give or refuse consent for your child’s vaccination, please use the paper
  form sent by your child’s school. If you have any questions, please contact
  <a class="nhsuk-link" href="mailto:<%= t('service.email') %>">
    <%= t('service.email') %></a>.
</p>
