<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
        href: parent_interface_consent_form_edit_path(@consent_form, :parent),
        name: "edit your details page",
      ) %>
<% end %>

<%= h1 "You cannot give or refuse consent through this service" %>

<p>
  To give or refuse consent for a child’s vaccination, you need to have
  parental responsibility.
</p>

<p>
  If you have any questions, please contact the local health team by calling
  <%= @team.phone %>, or email <%= mail_to @team.email %>.
</p>
