<% content_for :before_main do %>
  <%= govuk_back_link(href: parent_interface_consent_form_edit_path(@consent_form, :parent)) %>
<% end %>

<%= h1 "You cannot give or refuse consent through this service" %>

<p>
  To give or refuse consent for a child’s vaccination, you need to have
  parental responsibility.
</p>

<p>
  If you have any questions, please contact the local health team by calling
  <%= format_phone_with_instructions(@team_location) %>, or email <%= mail_to @team_location.email %>.
</p>
