<%= h1 "You can no longer submit a consent response" %>

<p class="nhsuk-body">The deadline for responding has passed.</p>

<h2 class="nhsuk-heading-m">You can still book a clinic appointment</h2>

<p class="govuk-body">
  Contact <% govuk_link_to @team.email, "mailto:#{@team.email}" %> to book a clinic appointment.
</p>
