<%= h1 "You can no longer use this service" %>

<p>
  The deadline for responding has passed. This means you can no longer take
  part in the pilot.
</p>

<p>
  If you have any questions, please contact the local health team by calling
  <%= @session.programme.team.phone %>, or email
  <a class="nhsuk-link" href="mailto:<%= @session.programme.team.email %>">
    <%= @session.programme.team.email %></a>.
</p>
