<%= h1 t("consent_forms.start.title.#{@programme.type}") %>

<% t("consent_forms.start.paragraphs.#{@programme.type}").each do |paragraph| %>
  <p class="nhsuk-u-margin-bottom-6">
    <%= paragraph %>
  </p>
<% end %>

<%= govuk_button_to "Start now", url_for(action: :create) %>
