<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(
        items: [
          { text: "Home", href: dashboard_path },
          { text: t("sessions.index.title"), href: sessions_path },
          { text: @session.location.name, href: session_path(@session) },
        ],
      ) %>
<% end %>

<%= h1 "Register attendance" %>

<%= render AppSessionPatientTableComponent.new(
      caption: t("patients_table.register_attendance.caption",
                 children: t("children", count: @pagy.count)),
      columns: %i[name year_group attendance],
      params:,
      patient_sessions: @patient_sessions,
      programme: @programme,
      section: :attendance,
      session: @session,
    ) %>

<div class="nhsuk-u-margin-top-6">
  <%= govuk_pagination(pagy: @pagy) %>
</div>
