<% content_for :before_main do %>
  <%= govuk_back_link(href: session_patient_programme_path(@session, @patient, @programme)) %>
<% end %>

<%= h1 page_title: "Update triage outcome" do %>
  <span class="nhsuk-caption-l"><%= @patient.full_name %></span>
  Update triage outcome
<% end %>

<%= render AppTriageFormComponent.new(
      @triage_form,
      url: session_patient_programme_triages_path(@session, @patient, @programme),
      heading: false,
    ) %>
