<% content_for :before_main do %>
  <%= render AppBacklinkComponent.new(
    href: unmatched_responses_session_path(@consent_form.session.id),
    name: "school page"
  ) %>
<% end %>

<%= h1 "Consent response for #{@consent_form.parent_name}" %>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <%= render AppCardComponent.new(heading: "Child details") do
      render AppPatientDetailsComponent.new(session: @session, consent_form: @consent_form, school: @school)
    end %>

    <%= render AppCardComponent.new(heading: "Consent") do
      render AppConsentDetailsComponent.new(consents: [@consent_form])
    end %>
  </div>
</div>
