<%= h1 "Give or refuse consent for a flu vaccination" %>

<p class="nhsuk-u-margin-bottom-6">
  The vaccination helps to protect children against flu. It also protects others
  who are vulnerable to flu, such as babies and older people.
</p>

<%= govuk_button_to "Start now", url_for(action: :create) %>
