<% page_title = "Reports" %>

<%= h1 page_title, size: "xl" %>

<% content_for :before_main do %>
  <%= render AppBreadcrumbComponent.new(items: [
                                          { text: "Home", href: dashboard_path },
                                          { text: page_title },
                                        ]) %>
<% end %>

<h2 class="nhsuk-heading-l nhsuk-u-margin-bottom-4">
  NIVS download
</h2>

<%= govuk_link_to "Download data (CSV)", report_path(id: "hpv"), class: "nhsuk-u-margin-bottom-2 nhsuk-button" %>
