name: Deploy
run-name: >-
  ${{ github.event_name == 'workflow_dispatch'
      && format('Copilot ({0})', inputs.environment)
      || 'Copilot (All staging environments)' }}

on:
  push:
    branches: [main]
  workflow_dispatch:
    inputs:
      environment:
        description: "Deployment environment"
        required: true
        type: choice
        options:
          - accessibility
          - pentest
          - test
          - training
          - production

jobs:
  Deploy:
    strategy:
      fail-fast: false
      matrix:
        environment: >-
          ${{ fromJSON(github.event_name == 'workflow_dispatch'
              && format('["{0}"]', inputs.environment)
              || '["accessibility", "pentest", "test", "training"]') }}
    uses: ./.github/workflows/_deploy-template.yml
    with:
      environment: ${{ matrix.environment }}
      aws-account-id: >-
        ${{ matrix.environment == 'production'
          && 'arn:aws:iam::820242920762:role/GitHubActionsRole'
          || 'arn:aws:iam::393416225559:role/GitHubActionsRole' }}
