name: Lint

on:
  pull_request:

permissions:
  contents: read

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - uses: actions/setup-node@v6
        with:
          cache: yarn
          node-version-file: .tool-versions
      - run: yarn install --immutable --immutable-cache --check-cache
      - uses: jdx/mise-action@v3
        with:
          install_args: hk pkl tflint terraform
      - run: tflint --chdir=terraform --init
      - run: hk check --all
