<div style="margin-top: 32px; border: 2px solid #b1b4b6; min-height: 300px">
  <div class="nhsuk-card__content">
    <h2 class="nhsuk-heading-l">No results</h2>
    <p><%= message %></p>
  </div>
</div>
