<% content_for :content do %>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">
      <%= yield :before_content %>

      <%= yield %>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
